
// Hidden elements

.pt_singlepagecheckout_v2 .hidden,
.pt_singlepagecheckout_v2 .delivery-form .click-and-collect-button,
.pt_singlepagecheckout_v2 .lookup-form .delivery-methods,
.pt_singlepagecheckout_v2 .credit-card-type,
.pt_singlepagecheckout_v2 .payment-method-options .required-indicator,
.pt_singlepagecheckout_v2 .billing-expanded-edit { display:none!important; }
// Borrowed from tyzens..

.pt_singlepagecheckout_v2 {
  .checkout-billing.use-shipping-address .billing-address-title,
  .checkout-billing.use-shipping-address .select-address,
  .checkout-billing.use-shipping-address .field-title,
  .checkout-billing.use-shipping-address .field-firstname,
  .checkout-billing.use-shipping-address .field-lastname,
  .checkout-billing.use-shipping-address .field-email,
  .checkout-billing.use-shipping-address .field-phone,
  .checkout-billing.use-shipping-address .field-country,
  .checkout-billing.use-shipping-address .field-address1,
  .checkout-billing.use-shipping-address .field-address2,
  .checkout-billing.use-shipping-address .field-city,
  .checkout-billing.use-shipping-address .field-state,
  .checkout-billing.use-shipping-address .field-postcode,
  .checkout-billing.use-shipping-address .field-housenumber,
  .checkout-billing.use-shipping-address .find-address-container,
  .checkout-billing.use-shipping-address .qas-options,
  .checkout-billing.use-shipping-address .address-lookup-container,
  .checkout-billing.use-shipping-address .add-to-address-book {
    display:none!important;
  }
}
// Borrowed from tyzens..
.pt_singlepagecheckout_v2 .wrapper_content .primary-content {
  .delivery-wrapper .delivery-form.click-and-collect-form .select-address,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-country,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-address1,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-address2,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-city,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-state,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-postcode,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-housenumber,
  .delivery-wrapper .delivery-form.click-and-collect-form .find-address-container,
  .delivery-wrapper .delivery-form.click-and-collect-form .qas-options,
  .delivery-wrapper .delivery-form.click-and-collect-form .field-intuitivesearch,
  .delivery-wrapper .delivery-form.click-and-collect-form .address-lookup-container,
  .delivery-wrapper .delivery-form.click-and-collect-form .add-to-address-book,
  .delivery-wrapper .delivery-form.click-and-collect-form .delivery-methods,
  .delivery-wrapper .delivery-form.click-and-collect-form .delivery-submit {
    display:none!important;
  }
}


.pt_singlepagecheckout_v2 {
  .payment-wrapper .checkout-billing .field-title,
  .payment-wrapper .checkout-billing .field-firstname,
  .payment-wrapper .checkout-billing .field-lastname,
  .payment-wrapper .checkout-billing .field-email,
  .payment-wrapper .checkout-billing .field-phone {
    display:none!important;
  }
}


.pt_singlepagecheckout_v2 .wrapper_content .primary-content .delivery-wrapper {
  .delivery-form.returning-customer .field-title,
  .delivery-form.returning-customer .field-firstname,
  .delivery-form.returning-customer .field-lastname,
  .delivery-form.returning-customer .field-email,
  .delivery-form.returning-customer .field-phone,
  .delivery-form.returning-customer .field-country,
  .delivery-form.returning-customer .field-address1,
  .delivery-form.returning-customer .field-address2,
  .delivery-form.returning-customer .field-city,
  .delivery-form.returning-customer .field-state,
  .delivery-form.returning-customer .field-postcode,
  .delivery-form.returning-customer .field-housenumber,
  .delivery-form.returning-customer .find-address-container,
  .delivery-form.returning-customer .qas-options,
  .delivery-form.returning-customer .address-lookup-container,
  .delivery-form.returning-customer .add-to-address-book {
    display:none!important;
  }
}


.pt_singlepagecheckout_v2 .payment-wrapper {
  .checkout-billing.hide-billing-fields .field-title,
  .checkout-billing.hide-billing-fields .field-firstname,
  .checkout-billing.hide-billing-fields .field-lastname,
  .checkout-billing.hide-billing-fields .field-email,
  .checkout-billing.hide-billing-fields .field-phone,
  .checkout-billing.hide-billing-fields .field-country,
  .checkout-billing.hide-billing-fields .field-address1,
  .checkout-billing.hide-billing-fields .field-address2,
  .checkout-billing.hide-billing-fields .field-city,
  .checkout-billing.hide-billing-fields .field-state,
  .checkout-billing.hide-billing-fields .field-postcode,
  .checkout-billing.hide-billing-fields .field-housenumber,
  .checkout-billing.hide-billing-fields .find-address-container,
  .checkout-billing.hide-billing-fields .qas-options,
  .checkout-billing.hide-billing-fields .address-lookup-container,
  .checkout-billing.hide-billing-fields .add-to-address-book {
    display:none!important;
  }
}



.pt_singlepagecheckout_v2 .wrapper_content .primary-content .delivery-wrapper .delivery-form.lookup-form .delivery-submit,
.pt_cart_v2 .cart-coupon-code:not(.expanded) .coupon-form-container {
  display:none!important;
}

.pt_singlepagecheckout_v2 .wrapper_content .primary-content .delivery-wrapper .delivery-form.sent-by-email-form .delivery-submit {
  display : block!important;
}

.pt_singlepagecheckout_v2 .item-details .product-list-item .item-quantity,
/*.pt_singlepagecheckout_v2 .item-details .product-list-item .item-quantity-details,*/
.pt_singlepagecheckout_v2 .promo-code .gift-title,
.pt_singlepagecheckout_v2 .promo-code .form-field-tooltip,
.pt_singlepagecheckout_v2 .item-details .product-list-item .color .label,
.pt_singlepagecheckout_v2 .item-details .product-list-item .size .attr-separator,
.pt_singlepagecheckout_v2 .item-details .product-list-item .sku,
.pt_singlepagecheckout_v2 .item-details .product-list-item .shipping-method span {
  display:none;
}

.pt_singlepagecheckout_v2 .wrapper_content .primary-content .delivery-wrapper .delivery-form.click-and-collect-form .click-and-collect-button {
  display:block!important;
}

.pt_singlepagecheckout_v2 .delivery-wrapper {
  .delivery-form.sent-by-email-form .select-address,
  .delivery-form.sent-by-email-form .field-country,
  .delivery-form.sent-by-email-form .field-address1,
  .delivery-form.sent-by-email-form .field-address2,
  .delivery-form.sent-by-email-form .field-city,
  .delivery-form.sent-by-email-form .field-state,
  .delivery-form.sent-by-email-form .field-postcode,
  .delivery-form.sent-by-email-form .field-housenumber,
  .delivery-form.sent-by-email-form .find-address-container,
  .delivery-form.sent-by-email-form .qas-options,
  .delivery-form.sent-by-email-form .address-lookup-container,
  .delivery-form.sent-by-email-form .add-to-address-book,
  .delivery-form.sent-by-email-form .field-intuitivesearch,
  .delivery-form.sent-by-email-form .delivery-methods {
    display:none!important;
  }
}
