
// Checkout form row spacing
@checkout-form-row-margin-bottom            : 2rem;
// Input gutter for payment method fields
@payment-method-input-gutter                : @spacing / 2;
// Error validation msg margin for delivery address (appears above input)
@delivery-addess-error-margin-top           : @rowSpacing*1.5;
// Error validation msg aligned below input - ((input vertical padding * 2) + input font size) + (label font size * 2) + required white space
// @checkout-form-error-alignBelowInput-top    : ((@inputVerticalPadding*2) + @inputFontSize) + (@labelFontSize*2) + @verticalMarginTiny;
@checkout-form-error-alignBelowInput-top    : 6.625em;

// Max width of container for payment options
@payment-method-options-max-width           : 480;
// Max width for full width inputs in payment options
@payment-method-input-full-width            : 260;
// Width for CVN field
@payment-method-input-cvn-max-width         : 92;

@cart-item-image-column-width               : 75;

@cart-value-color-stronger                  : @black;

@cart-item-details-padding-top              : @rowSpacing;