// Icon SVG url
@icon-path: "../../images/icons/";
@icon-path-ui: "@{icon-path}UI/";
@icon-path-careGuide: "@{icon-path}careGuide/";
@icon-path-payment: "@{icon-path}payment/";
@icon-path-social: "@{icon-path}social/";
