

#objects {
  .item() {    
    @image-container-ruleset: { 
      position:relative;
      margin:0;
      line-height: 0;
      overflow:hidden;
     };          
     @image-container-100vw-ruleset: {
      overflow: initial;
     };  
     @image-container-direct-link-ruleset: {
      display: block;
     }  
  }
}