/// Move below into seperate file

@font-face {
  font-family: 'GillSans-Light';
  src: url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_0_0.eot');
  src: local('GillSans-Light'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_0_0.eot?#iefix') format('embedded-opentype'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_0_0.woff2') format('woff2'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_0_0.woff') format('woff'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_0_0.ttf') format('truetype');
  font-display:optional;
}

@font-face {
  // font-family: 'GillSansMTStd-Medium';
  font-family: 'GillSans-Medium';
  src: url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_1_0.eot');
  src: local('GillSans'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_1_0.eot?#iefix') format('embedded-opentype'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_1_0.woff2') format('woff2'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_1_0.woff') format('woff'),
  url('/on/demandware.static/-/Sites-jw_web_uk/en_GB/fonts/2F6EAB_1_0.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
  font-display:optional;       
}

@font-face {
  // font-family: 'GillSansMTStd-Medium';
  font-family: 'GillSans-Bold';
  src: url('/on/demandware.static/-/Sites/default/dw355f28c9/fonts/360A70_0_0.eot');
  src: local('GillSans-Bold'),
  url('/on/demandware.static/-/Sites/default/dw355f28c9/fonts/360A70_0_0.eot?#iefix') format('embedded-opentype'),
  url('/on/demandware.static/-/Sites/default/dw355f28c9/fonts/360A70_0_0.woff2') format('woff2'),
  url('/on/demandware.static/-/Sites/default/dw355f28c9/fonts/360A70_0_0.woff') format('woff'),
  url('/on/demandware.static/-/Sites/default/dw355f28c9/fonts/360A70_0_0.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
  font-display:optional;       
}