
// REFACTORED FOR SPRINT 19 BELOW

// Last visited
.last-visited,
.product-recomm-wrapper {
  clear:both;
  text-align: center;
}

.last-visited {
  .pt_product-search-result & { border-top:0; }
  // Cart
  .pt_cart .primary-content & { width:100%; }
}

.last-visited .product-name > a { color:@primaryColor; }


// Revised



.last-visited .owl-carousel {
  margin-bottom:2.25rem;
}