// Override 
// #namespace { 
//     .module() {
//         @element: {
//             // override code
//         };
//     } 
// } 

// Extend
// #namespace {
//     .module(element) {
//         // extend code
//     }
// }



//*******************************
//    MASTHEAD: Custom Prop Rulesets
//*******************************

//-------------------
//  Masthead props
//--------------------

// DEMO OVERRIDES

// Extend
#props {
    .masthead(default) {
      #objects.masthead-variables();
        --mh-minHVal-m: inherit;
        --mh-minHVal-lmb: inherit;
        --mh-minHVal-tb: inherit;
        --mh-minHVal-cb: inherit;
    }
}