

#objects {
  .icon-variables() {
    @static-variables-only                : false; // turn off custom prop on a module level - define on a per site basis in overrides
    @local-scoped-custom-prop-fallback    : false; // not sure this works! local scoped variable - should be moved to overrides        
    @iconSize: big;    
  }
}
