//*******************************
//    Header 
//*******************************

// Header Sizer
/////////////////////////
.pt_product-details-darwin .s-site-header-wrapper:not(.is-visible-bannerSlot-beforeHeader).is-transparent .s-site-header-sizer {
  height: 48px; // use var
}

.pt_product-details-darwin .s-site-header-wrapper.is-visible-bannerSlot-beforeHeader.is-transparent .s-site-header-sizer {
  height: 94px; // use var
} 

@media (min-width:@largeMobileBreakpoint) {

  .pt_product-details-darwin .s-site-header-wrapper:not(.is-visible-bannerSlot-beforeHeader).is-transparent .s-site-header-sizer {
    height: 73px; // use var
  }

  .pt_product-details-darwin .s-site-header-wrapper.is-visible-bannerSlot-beforeHeader.is-transparent .s-site-header-sizer {
    height: 119px; // use var
  } 

}
