//-------------------
//  Image Zoom
//--------------------  

.pswp { transition:opacity 250ms @defaultEasing; }

.pswp__bg.pswp__bg { background:#fff; }

.pswp--svg.pswp--svg .pswp__button--arrow--left { left:5%; }

.pswp--svg.pswp--svg .pswp__button--arrow--right { right:5%; }

.pswp--svg.pswp--svg .pswp__button--arrow--left:before { 
  // background-image:url('../images/icons/UI/chevronLeftLight.svg');
  // .icon-fill('../images/icons/UI/chevronLeftLight.svg', '#fff'); 
} 
.pswp--svg.pswp--svg .pswp__button--arrow--right:before { 
  // background-image:url('../images/icons/UI/chevronRightLight.svg');
  // .icon-fill('../images/icons/UI/chevronRightLight.svg', '#fff'); 
}

.pswp__ui--fit .pswp__top-bar.pswp__top-bar .pswp__button.pswp__button--close,
.pswp__top-bar .pswp__button.pswp__button--close {
  // .icon-fill('../images/icons/UI/closeLight.svg', '@{linkColor}');
  // background-image:url('../images/icons/UI/closeLight.svg');
  background-position: center;
  background-size: auto 40%;    
}

.pswp--svg.pswp--svg [class*="pswp__button--arrow"]:before {
  background-size: auto 16px;
  background-position: center; 
  background-color:transparent;
}

.pswp__ui--idle.pswp__ui--idle [class*="pswp__button--arrow"] { opacity:1; }

.pswp__ui--fit .pswp__top-bar.pswp__top-bar,
.pswp__top-bar.pswp__top-bar,
.pswp__ui--idle .pswp__top-bar.pswp__top-bar {
  background-color:transparent;
  opacity:1;
}

.pswp__img--placeholder--blank.pswp__img--placeholder--blank {
  background-color:#fff;
  @loader-ruleset();
} 

.pswp__ui--fit .pswp__top-bar.pswp__top-bar *:not(.pswp__button--close) { display: none; }

// css from petar (potential refactor)
.pswp__pagination--wrapper {
  bottom: 90px;
  text-align: center;
  margin: 0 auto;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  pointer-events: none;
}

.pswp__pagination--container { margin-bottom:@spacing; }

.pswp__pagination--container span {
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid @jw-navy-digital;
  border-radius: 100%;
  display: inline-block;
  margin: 0 2.5px;
}

.pswp__pagination--container span.active{ background: @jw-navy-digital; }  

.pswp:not(.pswp--animated-in) .pswp__bg, 
.pswp:not(.pswp--animated-in) .pswp__zoom-wrap { opacity:0; }

.pswp.pswp { transition: none; }

.pswp__preloader {
  position: fixed!important;
  background:#000;
  top:~"calc(50% - 22px)!important";
  left:~"calc(50% - 22px)!important";
  display: none;
}

.pswp__pagination--text {
  font-size:@tiny;
  color:@jw-navy-digital;
  letter-spacing: 1.5*@rem;
  line-break: 18*@rem;
}