/*-------------------
    Border Radius
--------------------*/

/* See Power-user section below
   for explanation of @px variables
*/
@relativeBorderRadius           : 0; //@relative4px;
@absoluteBorderRadius           : 0; //@4px;

@defaultBorderRadius            : @absoluteBorderRadius;

/*-------------------
      Borders
--------------------*/

@circularRadius                : 500rem;

@borderColor                   : @tertiaryGrey;
@strongBorderColor             : @fuscousGrey;
@internalBorderColor           : rgba(34, 36, 38, 0.1);
@selectedBorderColor           : rgba(34, 36, 38, 0.35);
@strongSelectedBorderColor     : rgba(34, 36, 38, 0.5);
@disabledBorderColor           : rgba(34, 36, 38, 0.5);

@solidInternalBorderColor      : #FAFAFA;
@solidBorderColor              : #D4D4D5;
@solidSelectedBorderColor      : #BCBDBD;

@whiteBorderColor              : rgba(255, 255, 255, 0.1);
@selectedWhiteBorderColor      : rgba(255, 255, 255, 0.8);

@solidWhiteBorderColor         : #555555;
@selectedSolidWhiteBorderColor : #999999;
