
#objects {
    .divider-variables() {
        @divider-spacing-top                             : 1.5;
        @divider-spacing-bottom                          : 1.5;
        @divider-spacing-top-tabletBreakpoint            : 2;
        @divider-spacing-bottom-tabletBreakpoint         : 2;        
        @divider-width                                   : 80%;
        @divider-height                                  : 1;
        @divider-bgColor                                 : #000;
        @divider-height-unit                             : 1rem;
        @offsetFixed                                     : false;
    }
}