/*-------------------
        Grid
--------------------*/

/* Minimum Mobile Width */
@pageMinWidth                                           : 320px;

@columnCountOptions                                     : 12, 16, 24;
// Add in support for different column numbers
// https://www.deeson.co.uk/blog/why-i-often-use-24-column-grid
@columnCount                                            : extract(@columnCountOptions, 1);

/* Columns */
@oneWide                                                : (1 / @columnCount * 100%);
@twoWide                                                : (2 / @columnCount * 100%);
@threeWide                                              : (3 / @columnCount * 100%);
@fourWide                                               : (4 / @columnCount * 100%);
@fiveWide                                               : (5 / @columnCount * 100%);
@sixWide                                                : (6 / @columnCount * 100%);
@sevenWide                                              : (7 / @columnCount * 100%);
@eightWide                                              : (8 / @columnCount * 100%);
@nineWide                                               : (9 / @columnCount * 100%);
@tenWide                                                : (10 / @columnCount * 100%);
@elevenWide                                             : (11 / @columnCount * 100%);
@twelveWide                                             : (12 / @columnCount * 100%);
@thirteenWide                                           : (13 / @columnCount * 100%);
@fourteenWide                                           : (14 / @columnCount * 100%);
@fifteenWide                                            : (15 / @columnCount * 100%);
@sixteenWide                                            : (16 / @columnCount * 100%);
@seventeenWide                                          : (17 / @columnCount * 100%);
@eighteenWide                                           : (18 / @columnCount * 100%);
@nineteenWide                                           : (19 / @columnCount * 100%);
@twentyWide                                             : (20 / @columnCount * 100%);
@twentyOneWide                                          : (21 / @columnCount * 100%);
@twentyTwoWide                                          : (22 / @columnCount * 100%);
@twentyThreeWide                                        : (23 / @columnCount * 100%);
@twentyFourWide                                         : (24 / @columnCount * 100%);

@oneColumn                                              : (1 / 1 * 100%);
@twoColumn                                              : (1 / 2 * 100%);
@threeColumn                                            : (1 / 3 * 100%);
@fourColumn                                             : (1 / 4 * 100%);
@fiveColumn                                             : (1 / 5 * 100%);
@sixColumn                                              : (1 / 6 * 100%);
@sevenColumn                                            : (1 / 7 * 100%);
@eightColumn                                            : (1 / 8 * 100%);
@nineColumn                                             : (1 / 9 * 100%);
@tenColumn                                              : (1 / 10 * 100%);
@elevenColumn                                           : (1 / 11 * 100%);
@twelveColumn                                           : (1 / 12 * 100%);
@thirteenColumn                                         : (1 / 13 * 100%);
@fourteenColumn                                         : (1 / 14 * 100%);
@fifteenColumn                                          : (1 / 15 * 100%);
@sixteenColumn                                          : (1 / 16 * 100%);

// Gutter widths
@gutter                                                 : @spacing; // 1.5rem
@relaxedgutter                                          : @spacing * 2;
@veryRelaxedgutter                                      : @spacing * 4;

// Row spacing
@rowSpacing                                             : @spacing; // 2rem
@consecutiveGridDistance                                : (@rowSpacing / 2);


// Grid multiplyers
@gutterX                                                : 0.25;
@rowX                                                   : 0.25;
@gutterX-largeMobBreak                                  : 0.5;
@rowX-largeMobBreak                                     : 0.5;
@gutterX-computerBreak                                  : @gutterX-largeMobBreak;
@rowX-computerBreak                                     : @rowX-largeMobBreak;
// Relaxed
@gutterXrelaxed                                         : @gutterX;
@rowXrelaxed                                            : @rowX;
@gutterXrelaxed-largeMobBreak                           : @gutterX-largeMobBreak;
@rowXrelaxed-largeMobBreak                              : @rowX-largeMobBreak;
@gutterXrelaxed-computerBreak                           : 1;
@rowXrelaxed-computerBreak                              : 1;
// Very Relaxed
@gutterXveryRelaxed                                     : @gutterX;
@rowXveryRelaxed                                        : @rowX;
@gutterXveryRelaxed-largeMobBreak                       : @gutterX-largeMobBreak;
@rowXveryRelaxed-largeMobBreak                          : @rowX-largeMobBreak;
@gutterXveryRelaxed-computerBreak                       : 2;
@rowXveryRelaxed-computerBreak                          : 2;





@stackableMaxWidth       : @largestMobileScreen;
@stackableRowSpacing     : @rowSpacing;
@stackableGutter         : @gutter;
