@oneWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@oneWide));
@twoWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@twoWide));
@threeWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@threeWide));
@fourWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@fourWide));
@fiveWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@fiveWide));
@sixWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@sixWide));
@sevenWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@sevenWide));
@eightWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@eightWide));
@nineWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@nineWide));
@tenWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@tenWide));
@elevenWideMaxWidth: (unit(@site-max-widthPixel)/100)*(unit(@elevenWide));

// Older vars
// @max-width-1: unit(@threeWideMaxWidth*@rem, rem);
// @max-width-2: unit(@fourWideMaxWidth*@rem, rem);
// @max-width-3: unit(@eightWideMaxWidth*@rem, rem);
// @max-width-4: unit(@tenWideMaxWidth*@rem, rem);
// @max-width-5: unit(@elevenWideMaxWidth*@rem, rem);

// New vars
@max-width-1col: unit(@oneWideMaxWidth*@rem, rem);
@max-width-2col: unit(@twoWideMaxWidth*@rem, rem);
@max-width-3col: unit(@threeWideMaxWidth*@rem, rem);
@max-width-4col: unit(@fourWideMaxWidth*@rem, rem);
@max-width-5col: unit(@fiveWideMaxWidth*@rem, rem);
@max-width-6col: unit(@sixWideMaxWidth*@rem, rem);
@max-width-7col: unit(@sevenWideMaxWidth*@rem, rem);
@max-width-8col: unit(@eightWideMaxWidth*@rem, rem);
@max-width-9col: unit(@nineWideMaxWidth*@rem, rem);
@max-width-10col: unit(@tenWideMaxWidth*@rem, rem);
@max-width-11col: unit(@elevenWideMaxWidth*@rem, rem);
