
#gift-voucher-card-area .product-variations select {
  margin-bottom:0;
}

#gift-voucher-card-area .product-variations .form-row {
  text-align:left;
}

#gift-voucher-card-area h1.product-name {
  padding-bottom:@spacing;
}

#gift-voucher-card-area h1.product-name:before, 
.gift-result-content .tile-footer .product-name h2:before {
  margin-bottom:1rem;
}

#gift-voucher-card-block {
  margin-bottom:1.5rem;
}

#gift-voucher-card-area .product-description {
  font-family: @secondaryFontStack;
}