

//*******************************
//    GRID: Custom Prop Rulesets
//*******************************

//-------------------
//  Grid props
//--------------------

#props {
  .grid() {
    @default: {
      --columnCount                                            : @columnCount;
    };
  }
}

//*******************************
//   DEFINE MIXIN
//*******************************

#props {
  .grid(@item) {
      #props.grid();
      // no namespaced grid vars - all global
      @rules: @@item;
      @rules();
  }
}

//*******************************
//   Classes used for extending properties
//*******************************

.grid-props { #props.grid(default); }

//*******************************
//   Element classes that extend related properties
//*******************************

.grid { 
  &:extend(
    .grid-props, 
    .root-props-spacing
  ); 
}
