

//*******************************
//    GRID: Custom Prop Rulesets
//*******************************

//-------------------
//  Grid props
//--------------------

#props {
  .grid() {
    @default: {
      --columnCount                                            : @columnCount;
      // --oneWide                                                : (1 / var(--columnCount) * 100%);
      // --twoWide                                                : (2 / var(--columnCount) * 100%);
      // --threeWide                                              : (3 / var(--columnCount) * 100%);
      // --fourWide                                               : (4 / var(--columnCount) * 100%);
      // --fiveWide                                               : (5 / var(--columnCount) * 100%);
      // --sixWide                                                : (6 / var(--columnCount) * 100%);
      // --sevenWide                                              : (7 / var(--columnCount) * 100%);
      // --eightWide                                              : (8 / var(--columnCount) * 100%);
      // --nineWide                                               : (9 / var(--columnCount) * 100%);
      // --tenWide                                                : (10 / var(--columnCount) * 100%);
      // --elevenWide                                             : (11 / var(--columnCount) * 100%);
      // --twelveWide                                             : (12 / var(--columnCount) * 100%);
      // --thirteenWide                                           : (13 / var(--columnCount) * 100%);
      // --fourteenWide                                           : (14 / var(--columnCount) * 100%);
      // --fifteenWide                                            : (15 / var(--columnCount) * 100%);
      // --sixteenWide                                            : (16 / var(--columnCount) * 100%);  
      // --gutter                                            : var(--spacing);   
    };
  }
}

//*******************************
//   DEFINE MIXIN
//*******************************

#props {
  .grid(@item) {
      #props.grid();
      // no namespaced grid vars - all global
      @rules: @@item;
      @rules();
  }
}

//*******************************
//   Classes used for extending properties
//*******************************

.grid-props { #props.grid(default); }

//*******************************
//   Element classes that extend related properties
//*******************************

.grid { 
  &:extend(
    .grid-props, 
    .root-props-spacing
  ); 
}
