// Checkout labels
.radio label,
.checkout-login,
.shipment-details .title + div,
.pt_singlepagecheckout_v2 .expire-date,
.pt_singlepagecheckout_v2 .order-summary .newsletter-wrapper,
.pt_singlepagecheckout_v2 .customer-details,
.pt_singlepagecheckout_v2 .payment-method-options .credit-card-list > div:first-child,
.pt_singlepagecheckout_v2 .billing-address-title,
.pt_singlepagecheckout_v2 #paypal.payment-method-container .payment-method-body { &:extend(.o-form__label); }

.pt_singlepagecheckout_v2 .order-summary .newsletter-wrapper {
  width:100%;
}

.checkout-login { 
  width:100%; 
  margin-bottom:@spacing;
}

.pt_singlepagecheckout_v2 .terms-and-conditions {
  #collections.form-variables();
  font-size:@@labelFontSize;
  font-family:@@labelFont;
}

.radio-button-hb-label .radio-icon:before { &:extend(.o-form__checkbox + .o-form__label:before); }

// Click and collect
.point-marker span { margin:20*@rem 0; }
.point-marker span,
.hb-shipping-method { font-size:@tiny; }

.radio-button-hb-label .radio-icon:before {
  content:'';
  display: inline-block;  
  border: 1px solid #101A31;
  // The above isn't defined within the ruleset? - should be!
  width: 2.25rem;
  height: 2.25rem;
  flex: 0 0 2.25rem;
  margin-right: .75rem;
  border-radius: 50%;  
}

// Radios on checkout that need checkbox :checked styles
.pt_newstorepickup .select-store-option input:checked + label:before,
.delivery-options .form-row.radio input:checked + label:before,
.form-row.radio.delivery-option input:checked + label:before,
.payment-method-radio.radio input:checked + label:before,
.radio-button-hb-label .radio-icon.checked:before {
  #collections.form(checkbox-checked);
}