// Header
@data-theme-inverted-header-customPropOnly-ruleset: {    
    --headerColor: var(--invertedColor);
};
@data-theme-inverted-header-fallback-ruleset: {    
    --headerColor: var(--invertedColor);
    color:@itemColorInverted;
    color:var(--invertedColor);
};  
@data-theme-inverted-header-staticVarsOnly-ruleset: {    
    color:@itemColorInverted;
};     

.o-item[data-theme="inverted"] {
  --invertedColor: @itemColorInverted;
  --body-color: var(--invertedColor); 
}

.o-item[data-theme="inverted"] .o-item__hdr { .output-rules(data-theme-inverted-header; item); }

.o-item[data-theme="inverted"] [class*="o-btn"].inverted { #objects.button-type(default-btn-type-inverted); }

.o-item[data-theme="inverted"] .o-btn.o-btn--basic,
.o-item[data-theme="inverted"] .o-btn.o-btn--basic:hover { #objects.button-type(basic-btn-type-inverted); }

.o-item[data-theme="inverted"] .o-btn--primary.inverted { #objects.create-button(@primaryColor; primary-inverted); }

