
//-------------------
//  PARAGRAPH
//--------------------
@textColor                          : @primaryColor;
@paragraphSpacingMultiplyer         : .5;
@paragraphFontSize                  : @tiny; 
@paragraphLineHeight                : 2;