

#objects {
  .header() {
    @hBig-ruleset: {
      .set-header-rules(Big);
    };
    @hBig-letter-spacing-uppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Big; uppercase);
    };
    @hBig-letter-spacing-noUppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Big; none);
    };    
  }
}


