

#objects {
  .header() {
    @hHuge-ruleset: {
      .set-header-rules(Huge);
    };
    @hHuge-letter-spacing-uppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Huge; uppercase);
    };
    @hHuge-letter-spacing-noUppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Huge; none);
    };    
  }
}


