

#objects {
  .header() {
    @hLarge-ruleset: {
      .set-header-rules(Large);
    };
    @hLarge-letter-spacing-uppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Large; uppercase);
    };
    @hLarge-letter-spacing-noUppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Large; none);
    };       
  }
}


