

#objects {
  .header() {
    @hMassive-ruleset: {
      .set-header-rules(Massive);
    };
    @hMassive-letter-spacing-uppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Massive; uppercase); 
    };
    @hMassive-letter-spacing-noUppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Massive; none);
    };    
  }
}


