

#objects {
  .header() {
    @hMedium-ruleset: {
      .set-header-rules(Medium);
    };
    @hMedium-letter-spacing-uppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Medium; uppercase);
    };
    @hMedium-letter-spacing-noUppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Medium; none);
    };        
  }
}


