

#objects {
  .header() {
    @hTiny-ruleset: {
      .set-header-rules(Tiny);
    };
    @hTiny-letter-spacing-uppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Tiny; uppercase);
    };
    @hTiny-letter-spacing-noUppercase-ruleset: {
      .set-header-rules-text-transform-inc-letterSpacing(Tiny; none);
    };       
  }
}


