

@login-form-max-width: 400;

.login-columns {
  background:@lightGrey;
  text-align: center;
  padding:0 1rem;
  .clearfix();
  min-height: 50vh;
}

// Login box content
.login-box-content > form > fieldset { margin-bottom: 0; }

.login-columns [class^="col"] { text-align: left; }

.login-columns .form-row-button { margin-top:@rowSpacing; }

.login-box-content .remember-pass-box + .form-row-button { display:block!important; }
.login-box-content .remember-pass-box + .form-row-button > button { width:100% }

.login-box.login-account {
 max-width: unit( (@login-form-max-width / @fontSizeRoot), rem); // create var
 margin:0 auto;
}

.login-columns .login-oauth,
// .login-columns .facebook-login-button,
.returning-customers .form-row:not(.checkbox) {
  width:~"calc(100% - 2.6rem)";
  display: inline-block;
  max-width: unit( (@login-form-max-width / @fontSizeRoot), rem); // create var
}

.login-create-account .login-box-content {
  max-width: (unit( (@login-form-max-width / @fontSizeRoot), rem) + 2.6);
}

.returning-customers .form-row:not(.checkbox) + .form-field-tooltip { display:inline-block; }

// Remember password link
.remember-pass-box {
  .clearfix();
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}
.remember-pass-box > .link {
  align-self:flex-start;
  // &:extend(.o-link all);
  font-size:@small;
}

.remember-pass-box > .form-row.label-inline {
  float:none!important;
  text-align: left;
  margin-top:0!important;
}

/* My Account */

ul.address-list,
ul.payment-list { 
  list-style-type:none;
  padding-left:0;
}
#addresses ul.address-list,
ul.payment-list > li {
  &:extend(.wishlist-container .item-row);
  padding:@spacing!important;
}

// Saved address item
#addresses ul.address-list > li {
  border-bottom: 1px solid @borderColor;
  padding: @rowSpacing 0;
  .clearfix();
}

// My details

.edit-delete-address {
  float:right;
  a {
    // &:extend(.o-link all);
    + a { margin-left:@spacing; }
  }
}
// Saved cards
.payment-list .card-expires + form { float:right; }

@media (max-width:@largestMobileScreen) {

  .login-columns .col-2 {
    border-top:1px solid @borderColor;
    padding-top:@rowSpacing;
  }

  .login-box-content fieldset,
  .pt_account .section-header { text-align: center; }
  .login-columns .form-row-button { text-align:left; }
  .login-columns .login-oauth,
  .login-box-content .remember-pass-box + .form-row-button,
  .login-columns .login-oauth .facebook-login-button { width:100%; }

  .login-oauth fieldset { margin-bottom:@rowSpacing; }

  .login-create-account .login-box-content { margin:auto; }

}

@media (min-width:(unit(@login-form-max-width*@rem, rem) + (50*@rem))) and (max-width:@largestMobileScreen) {

  .login-columns .login-oauth,
  .login-box-content .remember-pass-box + .form-row-button {
    @mobileGutter: @gutterX*@rem;
    width:~"calc(100% - @{mobileGutter})";
  }

}

@media (min-width:@largeMobileBreakpoint) {

  .login-columns { padding:0 @spacing; }

}

@media screen and (min-width:@tabletBreakpoint) {

  .login-columns > h1 { padding:@rowSpacing; }

  .login-columns [class^="col"] {
    float:left;
    width:50%;
    padding:@spacing;
  }

  .returning-customers .form-row:not(.checkbox):last-of-type { float:left; }

}
