

.step-edit {
  margin-right:@spacing;
}

.pt_singlepagecheckout_v2 .expire-date {
  width:100%;
}

.subscription-message.subscription-message input[type="checkbox"]:checked + label:before {
  border-radius: 50%;
}

.pt_cart_v2 button[type="submit"] {
  margin-right:0;
}

.login-welcome-back {
  margin:@spacing 0;
}

@media (max-width: (699*@em)) {

  .checkout-body .wrapper_content.wrapper_content {
    width:auto;
    margin-left: .75rem;
    margin-right: .75rem    
  }

}



@media (max-width:@largestMediumMobileScreen) {

  .pt_singlepagecheckout_v2 .payment-method .expire-date,
  .pt_singlepagecheckout_v2 .payment-method-body .form-row {
    float:left;
  }

  .c-credit-cards.c-credit-cards--checkout {
    flex-wrap:wrap;
    max-width:250px!important;
  }

  .c-credit-cards.c-credit-cards--checkout .o-icon {
    width:auto;
    flex: 1 0 15%;
  }

  .pt_singlepagecheckout_v2 .wrapper_footer footer {
    margin-top:2rem;
  }

  .pt_singlepagecheckout_v2 .continue-shopping {
    position: absolute;
    width: 100%;
    text-indent: -999em;
    left:0;
    top:0;
    height:100%;
    margin:0;
  }

}

@media (max-width:@largestMobileScreen) {

  label[for="shipping-method-65"] > .css-label {
    padding-left: 50px;
    clear: left;
    float: left;    
  }

  .pt_singlepagecheckout_v2 #header .secure-checkout {
    margin-left:@spacing;
  }

  .pt_singlepagecheckout_v2 .continue-shopping {
    margin-right:@spacing;
  }

}

