

// .storeContainer.hubbox-store-container .point-marker {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .storeContainer.hubbox-store-container .point-marker img {
//   max-width:35px;
// }

// .storeContainer.hubbox-store-container .storeHours {
//   margin-top:@rowSpacing / 2;
// }

// // .storeHours > .store-hours-header {
// //   &:extend(.o-header);
// //   letter-spacing: @2px;
// // }

// .storeHours .store-hours-ot .opening-times { width:100%; }

// .storeHours .store-hours-ot .opening-times td {
//   padding-top:3px;
//   padding-bottom:3px;
// }

// .storeHours .store-hours-ot {
//   margin-top:@rowSpacing / 2;
// }

// #hb-shipping-methods {
//   margin-top:@rowSpacing / 2;
// }

// #hb-shipping-methods > .radio.store-option { margin-top:@rowSpacing; }
// #hb-shipping-methods > .radio.store-option + .radio.store-option { margin-top:@rowSpacing * 2; }

// #hb-shipping-methods > .radio.store-option .radio-icon:before {
//   &:extend(input[type="radio"]+label:before);
//   #checkout-process.global(radio);
// }
// #hb-shipping-methods > .radio.store-option .radio-icon.checked:before { #checkout-process.global(radio-checked); }

// #hb-shipping-methods .radio-button-hb-label { display:flex; }

// .radio-button-hb-label .hb-days-to-deliver { color:#aaa; }

// .hb-shipping-method span:not(.hb-days-to-deliver) { color:@lightBlack; }



// //
// //
// // .pt_newstorepickup .shopsData .stores-wrapper {
// //     margin-top: 0px
// // }
// // .pt_newstorepickup .shopsData .select-store-option {
// //     top: 58px;
// //     transform: none;
// // }
// // .pt_newstorepickup .shopsData .store-info .more-details .storeHours {
// //     margin-top: @12px;
// // }
// // .pt_newstorepickup .shopsData .store-info .more-details .storeHours .store-hours-header {
// //     // font-family: "GillSansMTStd-Medium", "Gill Sans MT", Calibri, sans-serif;
// //     font-size: @tiny;
// //     color: #777777;
// //     letter-spacing: 2.4px;
// //     line-height: 18px;
// //     text-transform: uppercase;
// // }
// // .pt_newstorepickup .shopsData .store-info .more-details .storeHours .store-hours-ot {
// //     margin: @18px 0 0;
// //     // font-family: "GillSansMTStd-Medium", "Gill Sans MT", Calibri, sans-serif;
// //     font-size: @tiny!important;
// //     color: #777777;
// //     letter-spacing: 0.6px;
// //     line-height: @18px;
// // }
// // .pt_newstorepickup .shopsData .store-info .more-details .storeHours .opening-times {
// //     margin: 18px 0 0
// // }
// // .pt_newstorepickup .shopsData .store-info .more-details .storeHours .day {
// //     padding: 0 60px 8px 0
// // }
// // .pt_newstorepickup .shopsData .store-info .more-details .storeHours .workinghours {
// //     padding: 0 0 8px 0
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container .storeListName {
// //     text-transform: uppercase;
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods span {
// //     display: inline-block;
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .store-option {
// //     margin: 0;
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .radio-button-hb-label {
// //     width: 100% !important;
// //     text-align: left;
// //     margin-top: 20px !important;
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .radio-button-hb-label span {
// //     float: left
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .radio-button-hb-label .radio-icon {
// //     margin-left: 0;
// //     left: 0;
// //     width: 36px;
// //     height: 36px;
// //     background: url("../images/check-white.svg") no-repeat;
// //     background-position: 0 -100px;
// //     border: 2px solid #1F2A44;
// //     border-radius: 50%;
// //     cursor: pointer;
// //     margin-right: 19px
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .radio-button-hb-label .radio-icon.checked {
// //     background-position: center 9px;
// //     background-color: #1F2A44;
// //     cursor: pointer;
// //     background-size: 56%
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .radio-button-hb-label .hb-days-to-deliver {
// //     display: block;
// //     font-family: "GillSansMTStd-Light", "Gill Sans MT", Calibri, sans-serif;
// //     color: #AAAAAA;
// //     float: none;
// //     clear: both
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container .point-marker span {
// //     font-family: "GillSansMTStd-Medium", "Gill Sans MT", Calibri, sans-serif;
// //     font-size: 12px;
// //     color: #4D4E4C;
// //     letter-spacing: 0.6px;
// //     line-height: 18px;
// //     margin: 10px 0;
// //     display: inline-block
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container .hb-shipping-method {
// //     font-family: "GillSansMTStd-Medium", "Gill Sans MT", Calibri, sans-serif;
// //     font-size: 12px;
// //     color: #222222;
// //     letter-spacing: 0.6px;
// //     line-height: 24px;
// //     float: left;
// //     word-break: break-word;
// //     width: 80%
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container .hb-shipping-method span.line-through {
// //     text-decoration: line-through
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container .hb-days-to-deliver {
// //     font-family: "GillSansMTStd-Medium", "Gill Sans MT", Calibri, sans-serif;
// //     font-size: 12px;
// //     color: #AAAAAA;
// //     letter-spacing: 0.6px;
// //     line-height: 24px
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container.jack_wills img {
// //     width: 35px;
// //     height: 35px;
// //     float: right;
// //     margin-top: 10px
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container.hubbox img {
// //     width: 25px;
// //     height: 28px;
// //     float: right;
// //     margin-top: 7px
// // }
// // .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container.last {
// //     margin-bottom: 90px;
// //     border-bottom: none
// // }
// //
// //
// // @media only screen and (min-width: 320px) and (max-width: 479px) {
// //   .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .radio-button-hb-label {
// //       display: inline-block
// //   }
// //   .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .radio-button-hb-label .radio-icon {
// //       margin-right: 16px
// //   }
// //   .shopsData .storesContainer .storeContainer.hubbox-store-container #hb-shipping-methods .hb-shipping-method {
// //       width: 71%
// //   }
// // }
// //
// // @media only screen and (min-width: 768px) {
// //   .pt_newstorepickup .shopsData .storesContainer .storeContainer.hubbox-store-container.last {
// //       margin-bottom: 0px
// //   }
// // }
