.column--1{ width:@oneWide!important; }
.column--2{ width:@twoWide!important; }
.column--3{ width:@threeWide!important; }
.column--4{ width:@fourWide!important; }
.column--5{ width:@fiveWide!important; }
.column--6{ width:@sixWide!important; }
.column--7{ width:@sevenWide!important; }
.column--8{ width:@eightWide!important; }
.column--9{ width:@nineWide!important; }
.column--10{ width:@tenWide!important; }
.column--11{ width:@elevenWide!important; }
.column--12{ width:@twelveWide!important; }


@media (min-width: @mobileBreakpoint) and (max-width:@largestMobileScreen) {

  .column-sm--1{ width:@oneWide!important; }
  .column-sm--2{ width:@twoWide!important; }
  .column-sm--3{ width:@threeWide!important; }
  .column-sm--4{ width:@fourWide!important; }
  .column-sm--5{ width:@fiveWide!important; }
  .column-sm--6{ width:@sixWide!important; }
  .column-sm--7{ width:@sevenWide!important; }
  .column-sm--8{ width:@eightWide!important; }
  .column-sm--9{ width:@nineWide!important; }
  .column-sm--10{ width:@tenWide!important; }
  .column-sm--11{ width:@elevenWide!important; }
  .column-sm--12{ width:@twelveWide!important; }

}
@media (min-width: @tabletBreakpoint) {


  .column-md--1{ width:@oneWide!important; }
  .column-md--2{ width:@twoWide!important; }
  .column-md--3{ width:@threeWide!important; }
  .column-md--4{ width:@fourWide!important; }
  .column-md--5{ width:@fiveWide!important; }
  .column-md--6{ width:@sixWide!important; }
  .column-md--7{ width:@sevenWide!important; }
  .column-md--8{ width:@eightWide!important; }
  .column-md--9{ width:@nineWide!important; }
  .column-md--10{ width:@tenWide!important; }
  .column-md--11{ width:@elevenWide!important; }
  .column-md--12{ width:@twelveWide!important; }

}


@media (min-width: @computerBreakpoint) {


  .column-lg--1 { width:@oneWide!important; }
  .column-lg--2{ width:@twoWide!important; }
  .column-lg--3{ width:@threeWide!important; }
  .column-lg--4{ width:@fourWide!important; }
  .column-lg--5{ width:@fiveWide!important; }
  .column-lg--6{ width:@sixWide!important; }
  .column-lg--7{ width:@sevenWide!important; }
  .column-lg--8{ width:@eightWide!important; }
  .column-lg--9{ width:@nineWide!important; }
  .column-lg--10{ width:@tenWide!important; }
  .column-lg--11{ width:@elevenWide!important; }
  .column-lg--12{ width:@twelveWide!important; }

}