/*******************************
        Margin - default
*******************************/

.ult-margin-0() {
  .u-m0 { margin:0!important }
  .u-mt0 { margin-top:0!important }
  .u-mr0 { margin-right:0!important }
  .u-mb0 { margin-bottom:0!important }
  .u-ml0 { margin-left:0!important }
  .u-mx0 { margin-left:0!important; margin-right:0!important }
  .u-my0 { margin-top:0!important; margin-bottom:0!important }
}

.ult-margin-1() when (@include_ult-spacing-size-1 = true) {
  .u-m1 { margin:@ult-spacing-size-1!important; }
  .u-mt1 { margin-top:@ult-spacing-size-1!important }
  .u-mr1 { margin-right:@ult-spacing-size-1!important }
  .u-mb1 { margin-bottom:@ult-spacing-size-1!important }
  .u-ml1 { margin-left:@ult-spacing-size-1!important }
  .u-mx1 { margin-left:@ult-spacing-size-1!important; margin-right:@ult-spacing-size-1!important }
  .u-my1 { margin-top:@ult-spacing-size-1!important; margin-bottom:@ult-spacing-size-1!important;  }
}


.ult-margin-2() when (@include_ult-spacing-size-2 = true) {
  .u-m2 { margin:@ult-spacing-size-2!important; }
  .u-mt2 { margin-top:@ult-spacing-size-2!important }
  .u-mr2 { margin-right:@ult-spacing-size-2!important }
  .u-mb2 { margin-bottom:@ult-spacing-size-2!important }
  .u-ml2 { margin-left:@ult-spacing-size-2!important }
  .u-mx2 { margin-left:@ult-spacing-size-2!important; margin-right:@ult-spacing-size-2!important }
  .u-my2 { margin-top:@ult-spacing-size-2!important; margin-bottom:@ult-spacing-size-2!important;  }
}

.ult-margin-3() when (@include_ult-spacing-size-3 = true) {
  .u-m3 { margin:@ult-spacing-size-3!important; }
  .u-mt3 { margin-top:@ult-spacing-size-3!important }
  .u-mr3 { margin-right:@ult-spacing-size-3!important }
  .u-mb3 { margin-bottom:@ult-spacing-size-3!important }
  .u-ml3 { margin-left:@ult-spacing-size-3!important }
  .u-mx3 { margin-left:@ult-spacing-size-3!important; margin-right:@ult-spacing-size-3!important }
  .u-my3 { margin-top:@ult-spacing-size-3!important; margin-bottom:@ult-spacing-size-3!important;  }
}

.ult-margin-4() when (@include_ult-spacing-size-4 = true) {
  .u-m4 { margin:@ult-spacing-size-4!important; }
  .u-mt4 { margin-top:@ult-spacing-size-4!important }
  .u-mr4 { margin-right:@ult-spacing-size-4!important }
  .u-mb4 { margin-bottom:@ult-spacing-size-4!important }
  .u-ml4 { margin-left:@ult-spacing-size-4!important }
  .u-mx4 { margin-left:@ult-spacing-size-4!important; margin-right:@ult-spacing-size-4!important }
  .u-my4 { margin-top:@ult-spacing-size-4!important; margin-bottom:@ult-spacing-size-4!important;  }
}

.ult-margin-5() when (@include_ult-spacing-size-5 = true) {
  .u-m5 { margin:@ult-spacing-size-5!important; }
  .u-mt5 { margin-top:@ult-spacing-size-5!important }
  .u-mr5 { margin-right:@ult-spacing-size-5!important }
  .u-mb5 { margin-bottom:@ult-spacing-size-5!important }
  .u-ml5 { margin-left:@ult-spacing-size-5!important }
  .u-mx5 { margin-left:@ult-spacing-size-5!important; margin-right:@ult-spacing-size-5!important }
  .u-my5 { margin-top:@ult-spacing-size-5!important; margin-bottom:@ult-spacing-size-5!important;  }
}

.ult-margin-6() when (@include_ult-spacing-size-6 = true) {
  .u-m6 { margin:@ult-spacing-size-6!important; }
  .u-mt6 { margin-top:@ult-spacing-size-6!important }
  .u-mr6 { margin-right:@ult-spacing-size-6!important }
  .u-mb6 { margin-bottom:@ult-spacing-size-6!important }
  .u-ml6 { margin-left:@ult-spacing-size-6!important }
  .u-mx6 { margin-left:@ult-spacing-size-6!important; margin-right:@ult-spacing-size-6!important }
  .u-my6 { margin-top:@ult-spacing-size-6!important; margin-bottom:@ult-spacing-size-6!important;  }
}

.ult-margin-7() when (@include_ult-spacing-size-7 = true) {
  .u-m7 { margin:@ult-spacing-size-7!important; }
  .u-mt7 { margin-top:@ult-spacing-size-7!important }
  .u-mr7 { margin-right:@ult-spacing-size-7!important }
  .u-mb7 { margin-bottom:@ult-spacing-size-7!important }
  .u-ml7 { margin-left:@ult-spacing-size-7!important }
  .u-mx7 { margin-left:@ult-spacing-size-7!important; margin-right:@ult-spacing-size-7!important }
  .u-my7 { margin-top:@ult-spacing-size-7!important; margin-bottom:@ult-spacing-size-7!important;  }
}

.ult-margin-8() when (@include_ult-spacing-size-8 = true) {
  .u-m8 { margin:@ult-spacing-size-8!important; }
  .u-mt8 { margin-top:@ult-spacing-size-8!important }
  .u-mr8 { margin-right:@ult-spacing-size-8!important }
  .u-mb8 { margin-bottom:@ult-spacing-size-8!important }
  .u-ml8 { margin-left:@ult-spacing-size-8!important }
  .u-mx8 { margin-left:@ult-spacing-size-8!important; margin-right:@ult-spacing-size-8!important }
  .u-my8 { margin-top:@ult-spacing-size-8!important; margin-bottom:@ult-spacing-size-8!important;  }
}

.u-ml-auto { margin-left:auto!important }
.u-mr-auto { margin-right:auto!important }
.u-mx-auto { margin-left:auto!important; margin-right:auto!important; }

.ult-margin-0();
.ult-margin-1();
.ult-margin-2();
.ult-margin-3();
.ult-margin-4();
.ult-margin-5();
.ult-margin-6();
.ult-margin-7();
.ult-margin-8();


@media (max-width:@largestMobileScreen) {

.ult-margin-0() {
  .u-m0-sm { margin:0!important }
  .u-mt0-sm { margin-top:0!important }
  .u-mr0-sm { margin-right:0!important }
  .u-mb0-sm { margin-bottom:0!important }
  .u-ml0-sm { margin-left:0!important }
  .u-mx0-sm { margin-left:0!important; margin-right:0!important }
  .u-my0-sm { margin-top:0!important; margin-bottom:0!important }
}

.ult-margin-1() when (@include_ult-spacing-size-1 = true) {  
  .u-m1-sm { margin:@ult-spacing-size-1!important; }
  .u-mt1-sm { margin-top:@ult-spacing-size-1!important }
  .u-mr1-sm { margin-right:@ult-spacing-size-1!important }
  .u-mb1-sm { margin-bottom:@ult-spacing-size-1!important }
  .u-ml1-sm { margin-left:@ult-spacing-size-1!important }
  .u-mx1-sm { margin-left:@ult-spacing-size-1!important; margin-right:@ult-spacing-size-1!important }
  .u-my1-sm { margin-top:@ult-spacing-size-1!important; margin-bottom:@ult-spacing-size-1!important;  }
}
  
.ult-margin-2() when (@include_ult-spacing-size-2 = true) {  
  .u-m2-sm { margin:@ult-spacing-size-2!important; }
  .u-mt2-sm { margin-top:@ult-spacing-size-2!important }
  .u-mr2-sm { margin-right:@ult-spacing-size-2!important }
  .u-mb2-sm { margin-bottom:@ult-spacing-size-2!important }
  .u-ml2-sm { margin-left:@ult-spacing-size-2!important }
  .u-mx2-sm { margin-left:@ult-spacing-size-2!important; margin-right:@ult-spacing-size-2!important }
  .u-my2-sm { margin-top:@ult-spacing-size-2!important; margin-bottom:@ult-spacing-size-2!important;  }
}

.ult-margin-3() when (@include_ult-spacing-size-3 = true) {  
  .u-m3-sm { margin:@ult-spacing-size-3!important; }
  .u-mt3-sm { margin-top:@ult-spacing-size-3!important }
  .u-mr3-sm { margin-right:@ult-spacing-size-3!important }
  .u-mb3-sm { margin-bottom:@ult-spacing-size-3!important }
  .u-ml3-sm { margin-left:@ult-spacing-size-3!important }
  .u-mx3-sm { margin-left:@ult-spacing-size-3!important; margin-right:@ult-spacing-size-3!important }
  .u-my3-sm { margin-top:@ult-spacing-size-3!important; margin-bottom:@ult-spacing-size-3!important;  }
}  

.ult-margin-4() when (@include_ult-spacing-size-4 = true) {  
  .u-m4-sm { margin:@ult-spacing-size-4!important; }
  .u-mt4-sm { margin-top:@ult-spacing-size-4!important }
  .u-mr4-sm { margin-right:@ult-spacing-size-4!important }
  .u-mb4-sm { margin-bottom:@ult-spacing-size-4!important }
  .u-ml4-sm { margin-left:@ult-spacing-size-4!important }
  .u-mx4-sm { margin-left:@ult-spacing-size-4!important; margin-right:@ult-spacing-size-4!important }
  .u-my4-sm { margin-top:@ult-spacing-size-4!important; margin-bottom:@ult-spacing-size-4!important;  }
}  

.ult-margin-5() when (@include_ult-spacing-size-5 = true) {    
  .u-m5-sm { margin:@ult-spacing-size-5!important; }
  .u-mt5-sm { margin-top:@ult-spacing-size-5!important }
  .u-mr5-sm { margin-right:@ult-spacing-size-5!important }
  .u-mb5-sm { margin-bottom:@ult-spacing-size-5!important }
  .u-ml5-sm { margin-left:@ult-spacing-size-5!important }
  .u-mx5-sm { margin-left:@ult-spacing-size-5!important; margin-right:@ult-spacing-size-5!important }
  .u-my5-sm { margin-top:@ult-spacing-size-5!important; margin-bottom:@ult-spacing-size-5!important;  }
}

.ult-margin-6() when (@include_ult-spacing-size-6 = true) {    
  .u-m6-sm { margin:@ult-spacing-size-6!important; }
  .u-mt6-sm { margin-top:@ult-spacing-size-6!important }
  .u-mr6-sm { margin-right:@ult-spacing-size-6!important }
  .u-mb6-sm { margin-bottom:@ult-spacing-size-6!important }
  .u-ml6-sm { margin-left:@ult-spacing-size-6!important }
  .u-mx6-sm { margin-left:@ult-spacing-size-6!important; margin-right:@ult-spacing-size-6!important }
  .u-my6-sm { margin-top:@ult-spacing-size-6!important; margin-bottom:@ult-spacing-size-6!important;  }
}  

.ult-margin-7() when (@include_ult-spacing-size-7 = true) {      
  .u-m7-sm { margin:@ult-spacing-size-7!important; }
  .u-mt7-sm { margin-top:@ult-spacing-size-7!important }
  .u-mr7-sm { margin-right:@ult-spacing-size-7!important }
  .u-mb7-sm { margin-bottom:@ult-spacing-size-7!important }
  .u-ml7-sm { margin-left:@ult-spacing-size-7!important }
  .u-mx7-sm { margin-left:@ult-spacing-size-7!important; margin-right:@ult-spacing-size-7!important }
  .u-my7-sm { margin-top:@ult-spacing-size-7!important; margin-bottom:@ult-spacing-size-7!important;  }
}

.ult-margin-8() when (@include_ult-spacing-size-8 = true) {        
  .u-m8-sm { margin:@ult-spacing-size-8!important; }
  .u-mt8-sm { margin-top:@ult-spacing-size-8!important }
  .u-mr8-sm { margin-right:@ult-spacing-size-8!important }
  .u-mb8-sm { margin-bottom:@ult-spacing-size-8!important }
  .u-ml8-sm { margin-left:@ult-spacing-size-8!important }
  .u-mx8-sm { margin-left:@ult-spacing-size-8!important; margin-right:@ult-spacing-size-8!important }
  .u-my8-sm { margin-top:@ult-spacing-size-8!important; margin-bottom:@ult-spacing-size-8!important;  }
}
    
  .u-ml-auto-sm { margin-left:auto!important }
  .u-mr-auto-sm { margin-right:auto!important }
  .u-mx-auto-sm { margin-left:auto!important; margin-right:auto!important; }

  .ult-margin-0();
  .ult-margin-1();
  .ult-margin-2();
  .ult-margin-3();
  .ult-margin-4();
  .ult-margin-5();
  .ult-margin-6();
  .ult-margin-7();
  .ult-margin-8();

}

@media (min-width:@tabletBreakpoint) and (max-width:@largestTabletScreen) {

.ult-margin-0() {
  .u-m0-md { margin:0!important }
  .u-mt0-md { margin-top:0!important }
  .u-mr0-md { margin-right:0!important }
  .u-mb0-md { margin-bottom:0!important }
  .u-ml0-md { margin-left:0!important }
  .u-mx0-md { margin-left:0!important; margin-right:0!important }
  .u-my0-md { margin-top:0!important; margin-bottom:0!important }
}
  

  .ult-margin-1() when (@include_ult-spacing-size-1 = true) {      
    .u-m1-md { margin:@ult-spacing-size-1!important; }
    .u-mt1-md { margin-top:@ult-spacing-size-1!important }
    .u-mr1-md { margin-right:@ult-spacing-size-1!important }
    .u-mb1-md { margin-bottom:@ult-spacing-size-1!important }
    .u-ml1-md { margin-left:@ult-spacing-size-1!important }
    .u-mx1-md { margin-left:@ult-spacing-size-1!important; margin-right:@ult-spacing-size-1!important }
    .u-my1-md { margin-top:@ult-spacing-size-1!important; margin-bottom:@ult-spacing-size-1!important;  }
  }

  .ult-margin-2() when (@include_ult-spacing-size-2 = true) {      
    .u-m2-md { margin:@ult-spacing-size-2!important; }
    .u-mt2-md { margin-top:@ult-spacing-size-2!important }
    .u-mr2-md { margin-right:@ult-spacing-size-2!important }
    .u-mb2-md { margin-bottom:@ult-spacing-size-2!important }
    .u-ml2-md { margin-left:@ult-spacing-size-2!important }
    .u-mx2-md { margin-left:@ult-spacing-size-2!important; margin-right:@ult-spacing-size-2!important }
    .u-my2-md { margin-top:@ult-spacing-size-2!important; margin-bottom:@ult-spacing-size-2!important;  }
  }


  .ult-margin-3() when (@include_ult-spacing-size-3 = true) { 
    .u-m3-md { margin:@ult-spacing-size-3!important; }
    .u-mt3-md { margin-top:@ult-spacing-size-3!important }
    .u-mr3-md { margin-right:@ult-spacing-size-3!important }
    .u-mb3-md { margin-bottom:@ult-spacing-size-3!important }
    .u-ml3-md { margin-left:@ult-spacing-size-3!important }
    .u-mx3-md { margin-left:@ult-spacing-size-3!important; margin-right:@ult-spacing-size-3!important }
    .u-my3-md { margin-top:@ult-spacing-size-3!important; margin-bottom:@ult-spacing-size-3!important;  }
  }

  .ult-margin-4() when (@include_ult-spacing-size-4 = true) { 
    .u-m4-md { margin:@ult-spacing-size-4!important; }
    .u-mt4-md { margin-top:@ult-spacing-size-4!important }
    .u-mr4-md { margin-right:@ult-spacing-size-4!important }
    .u-mb4-md { margin-bottom:@ult-spacing-size-4!important }
    .u-ml4-md { margin-left:@ult-spacing-size-4!important }
    .u-mx4-md { margin-left:@ult-spacing-size-4!important; margin-right:@ult-spacing-size-4!important }
    .u-my4-md { margin-top:@ult-spacing-size-4!important; margin-bottom:@ult-spacing-size-4!important;  }
  }

  .ult-margin-5() when (@include_ult-spacing-size-5 = true) { 
    .u-m5-md { margin:@ult-spacing-size-5!important; }
    .u-mt5-md { margin-top:@ult-spacing-size-5!important }
    .u-mr5-md { margin-right:@ult-spacing-size-5!important }
    .u-mb5-md { margin-bottom:@ult-spacing-size-5!important }
    .u-ml5-md { margin-left:@ult-spacing-size-5!important }
    .u-mx5-md { margin-left:@ult-spacing-size-5!important; margin-right:@ult-spacing-size-5!important }
    .u-my5-md { margin-top:@ult-spacing-size-5!important; margin-bottom:@ult-spacing-size-5!important;  }
  }
  
  .ult-margin-6() when (@include_ult-spacing-size-6 = true) { 
    .u-m6-md { margin:@ult-spacing-size-6!important; }
    .u-mt6-md { margin-top:@ult-spacing-size-6!important }
    .u-mr6-md { margin-right:@ult-spacing-size-6!important }
    .u-mb6-md { margin-bottom:@ult-spacing-size-6!important }
    .u-ml6-md { margin-left:@ult-spacing-size-6!important }
    .u-mx6-md { margin-left:@ult-spacing-size-6!important; margin-right:@ult-spacing-size-6!important }
    .u-my6-md { margin-top:@ult-spacing-size-6!important; margin-bottom:@ult-spacing-size-6!important;  }
  }
  
  .ult-margin-7() when (@include_ult-spacing-size-7 = true) { 
    .u-m7-md { margin:@ult-spacing-size-7!important; }
    .u-mt7-md { margin-top:@ult-spacing-size-7!important }
    .u-mr7-md { margin-right:@ult-spacing-size-7!important }
    .u-mb7-md { margin-bottom:@ult-spacing-size-7!important }
    .u-ml7-md { margin-left:@ult-spacing-size-7!important }
    .u-mx7-md { margin-left:@ult-spacing-size-7!important; margin-right:@ult-spacing-size-7!important }
    .u-my7-md { margin-top:@ult-spacing-size-7!important; margin-bottom:@ult-spacing-size-7!important;  }
  }
  
  .ult-margin-8() when (@include_ult-spacing-size-8 = true) { 
    .u-m8-md { margin:@ult-spacing-size-8!important; }
    .u-mt8-md { margin-top:@ult-spacing-size-8!important }
    .u-mr8-md { margin-right:@ult-spacing-size-8!important }
    .u-mb8-md { margin-bottom:@ult-spacing-size-8!important }
    .u-ml8-md { margin-left:@ult-spacing-size-8!important }
    .u-mx8-md { margin-left:@ult-spacing-size-8!important; margin-right:@ult-spacing-size-8!important }
    .u-my8-md { margin-top:@ult-spacing-size-8!important; margin-bottom:@ult-spacing-size-8!important;  }
  }  
  
  .u-ml-auto-md { margin-left:auto!important }
  .u-mr-auto-md { margin-right:auto!important }
  .u-mx-auto-md { margin-left:auto!important; margin-right:auto!important; }

  .ult-margin-0();
  .ult-margin-1();
  .ult-margin-2();
  .ult-margin-3();
  .ult-margin-4();
  .ult-margin-5();
  .ult-margin-6();
  .ult-margin-7();
  .ult-margin-8();  

}

