.u-m0 { margin:0!important }
.u-mt0 { margin-top:0!important }
.u-mr0 { margin-right:0!important }
.u-mb0 { margin-bottom:0!important }
.u-ml0 { margin-left:0!important }
.u-mx0 { margin-left:0!important; margin-right:0!important }
.u-my0 { margin-top:0!important; margin-bottom:0!important }

.u-m-m { margin:@mini!important; }
.u-mt-m { margin-top:@mini!important }
.u-mr-m { margin-right:@mini!important }
.u-mb-m { margin-bottom:@mini!important }
.u-ml-m { margin-left:@mini!important }
.u-mx-m { margin-left:@mini!important; margin-right:@mini!important }
.u-my-m { margin-top:@mini!important; margin-bottom:@mini!important;  }

.u-m-t { margin:@tiny!important; }
.u-mt-t { margin-top:@tiny!important }
.u-mr-t { margin-right:@tiny!important }
.u-mb-t { margin-bottom:@tiny!important }
.u-ml-t { margin-left:@tiny!important }
.u-mx-t { margin-left:@tiny!important; margin-right:@tiny!important }
.u-my-t { margin-top:@tiny!important; margin-bottom:@tiny!important;  }

.u-m-sm { margin:@small!important; }
.u-mt-sm { margin-top:@small!important }
.u-mr-sm { margin-right:@small!important }
.u-mb-sm { margin-bottom:@small!important }
.u-ml-sm { margin-left:@small!important }
.u-mx-sm { margin-left:@small!important; margin-right:@small!important }
.u-my-sm { margin-top:@small!important; margin-bottom:@small!important;  }

.u-m-md { margin:@medium!important; }
.u-mt-md { margin-top:@medium!important }
.u-mr-md { margin-right:@medium!important }
.u-mb-md { margin-bottom:@medium!important }
.u-ml-md { margin-left:@medium!important }
.u-mx-md { margin-left:@medium!important; margin-right:@medium!important }
.u-my-md { margin-top:@medium!important; margin-bottom:@medium!important;  }

.u-m-lg { margin:@large!important; }
.u-mt-lg { margin-top:@large!important }
.u-mr-lg { margin-right:@large!important }
.u-mb-lg { margin-bottom:@large!important }
.u-ml-lg { margin-left:@large!important }
.u-mx-lg { margin-left:@large!important; margin-right:@large!important }
.u-my-lg { margin-top:@large!important; margin-bottom:@large!important;  }

.u-m-big { margin:@big!important; }
.u-mt-big { margin-top:@big!important }
.u-mr-big { margin-right:@big!important }
.u-mb-big { margin-bottom:@big!important }
.u-ml-big { margin-left:@big!important }
.u-mx-big { margin-left:@big!important; margin-right:@big!important }
.u-my-big { margin-top:@big!important; margin-bottom:@big!important;  }

.u-m-hg { margin:@huge!important; }
.u-mt-hg { margin-top:@huge!important }
.u-mr-hg { margin-right:@huge!important }
.u-mb-hg { margin-bottom:@huge!important }
.u-ml-hg { margin-left:@huge!important }
.u-mx-hg { margin-left:@huge!important; margin-right:@huge!important }
.u-my-hg { margin-top:@huge!important; margin-bottom:@huge!important;  }

.u-m-msv { margin:@massive!important; }
.u-mt-msv { margin-top:@massive!important }
.u-mr-msv { margin-right:@massive!important }
.u-mb-msv { margin-bottom:@massive!important }
.u-ml-msv { margin-left:@massive!important }
.u-mx-msv { margin-left:@massive!important; margin-right:@massive!important }
.u-my-msv { margin-top:@massive!important; margin-bottom:@massive!important;  }

.u-ml-auto { margin-left:auto!important }
.u-mr-auto { margin-right:auto!important }
.u-mx-auto { margin-left:auto!important; margin-right:auto!important; }



@media (max-width:@largestMobileScreen) {

  .u-m0-sm { margin:0!important }
  .u-mt0-sm { margin-top:0!important }
  .u-mr0-sm { margin-right:0!important }
  .u-mb0-sm { margin-bottom:0!important }
  .u-ml0-sm { margin-left:0!important }
  .u-mx0-sm { margin-left:0!important; margin-right:0!important }
  .u-my0-sm { margin-top:0!important; margin-bottom:0!important }
  
  .u-m-m-sm { margin:@mini!important; }
  .u-mt-m-sm { margin-top:@mini!important }
  .u-mr-m-sm { margin-right:@mini!important }
  .u-mb-m-sm { margin-bottom:@mini!important }
  .u-ml-m-sm { margin-left:@mini!important }
  .u-mx-m-sm { margin-left:@mini!important; margin-right:@mini!important }
  .u-my-m-sm { margin-top:@mini!important; margin-bottom:@mini!important;  }
  
  .u-m-t-sm { margin:@tiny!important; }
  .u-mt-t-sm { margin-top:@tiny!important }
  .u-mr-t-sm { margin-right:@tiny!important }
  .u-mb-t-sm { margin-bottom:@tiny!important }
  .u-ml-t-sm { margin-left:@tiny!important }
  .u-mx-t-sm { margin-left:@tiny!important; margin-right:@tiny!important }
  .u-my-t-sm { margin-top:@tiny!important; margin-bottom:@tiny!important;  }
  
  .u-m-sm-sm { margin:@small!important; }
  .u-mt-sm-sm { margin-top:@small!important }
  .u-mr-sm-sm { margin-right:@small!important }
  .u-mb-sm-sm { margin-bottom:@small!important }
  .u-ml-sm-sm { margin-left:@small!important }
  .u-mx-sm-sm { margin-left:@small!important; margin-right:@small!important }
  .u-my-sm-sm { margin-top:@small!important; margin-bottom:@small!important;  }
  
  .u-m-md-sm { margin:@medium!important; }
  .u-mt-md-sm { margin-top:@medium!important }
  .u-mr-md-sm { margin-right:@medium!important }
  .u-mb-md-sm { margin-bottom:@medium!important }
  .u-ml-md-sm { margin-left:@medium!important }
  .u-mx-md-sm { margin-left:@medium!important; margin-right:@medium!important }
  .u-my-md-sm { margin-top:@medium!important; margin-bottom:@medium!important;  }
  
  .u-m-lg-sm { margin:@large!important; }
  .u-mt-lg-sm { margin-top:@large!important }
  .u-mr-lg-sm { margin-right:@large!important }
  .u-mb-lg-sm { margin-bottom:@large!important }
  .u-ml-lg-sm { margin-left:@large!important }
  .u-mx-lg-sm { margin-left:@large!important; margin-right:@large!important }
  .u-my-lg-sm { margin-top:@large!important; margin-bottom:@large!important;  }
  
  .u-m-big-sm { margin:@big!important; }
  .u-mt-big-sm { margin-top:@big!important }
  .u-mr-big-sm { margin-right:@big!important }
  .u-mb-big-sm { margin-bottom:@big!important }
  .u-ml-big-sm { margin-left:@big!important }
  .u-mx-big-sm { margin-left:@big!important; margin-right:@big!important }
  .u-my-big-sm { margin-top:@big!important; margin-bottom:@big!important;  }
  
  .u-m-hg-sm { margin:@huge!important; }
  .u-mt-hg-sm { margin-top:@huge!important }
  .u-mr-hg-sm { margin-right:@huge!important }
  .u-mb-hg-sm { margin-bottom:@huge!important }
  .u-ml-hg-sm { margin-left:@huge!important }
  .u-mx-hg-sm { margin-left:@huge!important; margin-right:@huge!important }
  .u-my-hg-sm { margin-top:@huge!important; margin-bottom:@huge!important;  }
  
  .u-m-msv-sm { margin:@massive!important; }
  .u-mt-msv-sm { margin-top:@massive!important }
  .u-mr-msv-sm { margin-right:@massive!important }
  .u-mb-msv-sm { margin-bottom:@massive!important }
  .u-ml-msv-sm { margin-left:@massive!important }
  .u-mx-msv-sm { margin-left:@massive!important; margin-right:@massive!important }
  .u-my-msv-sm { margin-top:@massive!important; margin-bottom:@massive!important;  }
  
  .u-ml-auto-sm { margin-left:auto!important }
  .u-mr-auto-sm { margin-right:auto!important }
  .u-mx-auto-sm { margin-left:auto!important; margin-right:auto!important; }

}

@media (min-width:@tabletBreakpoint) and (max-width:@largestTabletScreen) {


  .u-m0-md { margin:0!important }
  .u-mt0-md { margin-top:0!important }
  .u-mr0-md { margin-right:0!important }
  .u-mb0-md { margin-bottom:0!important }
  .u-ml0-md { margin-left:0!important }
  .u-mx0-md { margin-left:0!important; margin-right:0!important }
  .u-my0-md { margin-top:0!important; margin-bottom:0!important }
  
  .u-m-m-md { margin:@mini!important; }
  .u-mt-m-md { margin-top:@mini!important }
  .u-mr-m-md { margin-right:@mini!important }
  .u-mb-m-md { margin-bottom:@mini!important }
  .u-ml-m-md { margin-left:@mini!important }
  .u-mx-m-md { margin-left:@mini!important; margin-right:@mini!important }
  .u-my-m-md { margin-top:@mini!important; margin-bottom:@mini!important;  }
  
  .u-m-t-md { margin:@tiny!important; }
  .u-mt-t-md { margin-top:@tiny!important }
  .u-mr-t-md { margin-right:@tiny!important }
  .u-mb-t-md { margin-bottom:@tiny!important }
  .u-ml-t-md { margin-left:@tiny!important }
  .u-mx-t-md { margin-left:@tiny!important; margin-right:@tiny!important }
  .u-my-t-md { margin-top:@tiny!important; margin-bottom:@tiny!important;  }
  
  .u-m-sm-md { margin:@small!important; }
  .u-mt-sm-md { margin-top:@small!important }
  .u-mr-sm-md { margin-right:@small!important }
  .u-mb-sm-md { margin-bottom:@small!important }
  .u-ml-sm-md { margin-left:@small!important }
  .u-mx-sm-md { margin-left:@small!important; margin-right:@small!important }
  .u-my-sm-md { margin-top:@small!important; margin-bottom:@small!important;  }
  
  .u-m-md-md { margin:@medium!important; }
  .u-mt-md-md { margin-top:@medium!important }
  .u-mr-md-md { margin-right:@medium!important }
  .u-mb-md-md { margin-bottom:@medium!important }
  .u-ml-md-md { margin-left:@medium!important }
  .u-mx-md-md { margin-left:@medium!important; margin-right:@medium!important }
  .u-my-md-md { margin-top:@medium!important; margin-bottom:@medium!important;  }
  
  .u-m-lg-md { margin:@large!important; }
  .u-mt-lg-md { margin-top:@large!important }
  .u-mr-lg-md { margin-right:@large!important }
  .u-mb-lg-md { margin-bottom:@large!important }
  .u-ml-lg-md { margin-left:@large!important }
  .u-mx-lg-md { margin-left:@large!important; margin-right:@large!important }
  .u-my-lg-md { margin-top:@large!important; margin-bottom:@large!important;  }
  
  .u-m-big-md { margin:@big!important; }
  .u-mt-big-md { margin-top:@big!important }
  .u-mr-big-md { margin-right:@big!important }
  .u-mb-big-md { margin-bottom:@big!important }
  .u-ml-big-md { margin-left:@big!important }
  .u-mx-big-md { margin-left:@big!important; margin-right:@big!important }
  .u-my-big-md { margin-top:@big!important; margin-bottom:@big!important;  }
  
  .u-m-hg-md { margin:@huge!important; }
  .u-mt-hg-md { margin-top:@huge!important }
  .u-mr-hg-md { margin-right:@huge!important }
  .u-mb-hg-md { margin-bottom:@huge!important }
  .u-ml-hg-md { margin-left:@huge!important }
  .u-mx-hg-md { margin-left:@huge!important; margin-right:@huge!important }
  .u-my-hg-md { margin-top:@huge!important; margin-bottom:@huge!important;  }
  
  .u-m-msv-md { margin:@massive!important; }
  .u-mt-msv-md { margin-top:@massive!important }
  .u-mr-msv-md { margin-right:@massive!important }
  .u-mb-msv-md { margin-bottom:@massive!important }
  .u-ml-msv-md { margin-left:@massive!important }
  .u-mx-msv-md { margin-left:@massive!important; margin-right:@massive!important }
  .u-my-msv-md { margin-top:@massive!important; margin-bottom:@massive!important;  }
  
  .u-ml-auto-md { margin-left:auto!important }
  .u-mr-auto-md { margin-right:auto!important }
  .u-mx-auto-md { margin-left:auto!important; margin-right:auto!important; }

}
