/*******************************
        Padding - default
*******************************/

.ult-padding-0() {
  .u-p0 { padding:0!important }
  .u-pt0 { padding-top:0!important }
  .u-pr0 { padding-right:0!important }
  .u-pb0 { padding-bottom:0!important }
  .u-pl0 { padding-left:0!important }
  .u-px0 { padding-left:0!important; padding-right:0!important }
  .u-py0 { padding-top:0!important; padding-bottom:0!important }
}

.ult-padding-1() when (@include_ult-spacing-size-1 = true) {
  .u-p1 { padding:@ult-spacing-size-1!important; }
  .u-pt1 { padding-top:@ult-spacing-size-1!important }
  .u-pr1 { padding-right:@ult-spacing-size-1!important }
  .u-pb1 { padding-bottom:@ult-spacing-size-1!important }
  .u-pl1 { padding-left:@ult-spacing-size-1!important }
  .u-px1 { padding-left:@ult-spacing-size-1!important; padding-right:@ult-spacing-size-1!important }
  .u-py1 { padding-top:@ult-spacing-size-1!important; padding-bottom:@ult-spacing-size-1!important;  }
}

.ult-padding-2() when (@include_ult-spacing-size-2 = true) {
  .u-p2 { padding:@ult-spacing-size-2!important; }
  .u-pt2 { padding-top:@ult-spacing-size-2!important }
  .u-pr2 { padding-right:@ult-spacing-size-2!important }
  .u-pb2 { padding-bottom:@ult-spacing-size-2!important }
  .u-pl2 { padding-left:@ult-spacing-size-2!important }
  .u-px2 { padding-left:@ult-spacing-size-2!important; padding-right:@ult-spacing-size-2!important }
  .u-py2 { padding-top:@ult-spacing-size-2!important; padding-bottom:@ult-spacing-size-2!important;  }
}

.ult-padding-3() when (@include_ult-spacing-size-3 = true) {
  .u-p3 { padding:@ult-spacing-size-3!important; }
  .u-pt3 { padding-top:@ult-spacing-size-3!important }
  .u-pr3 { padding-right:@ult-spacing-size-3!important }
  .u-pb3 { padding-bottom:@ult-spacing-size-3!important }
  .u-pl3 { padding-left:@ult-spacing-size-3!important }
  .u-px3 { padding-left:@ult-spacing-size-3!important; padding-right:@ult-spacing-size-3!important }
  .u-py3 { padding-top:@ult-spacing-size-3!important; padding-bottom:@ult-spacing-size-3!important;  }
}

.ult-padding-4() when (@include_ult-spacing-size-4 = true) {
  .u-p4 { padding:@ult-spacing-size-4!important; }
  .u-pt4 { padding-top:@ult-spacing-size-4!important }
  .u-pr4 { padding-right:@ult-spacing-size-4!important }
  .u-pb4 { padding-bottom:@ult-spacing-size-4!important }
  .u-pl4 { padding-left:@ult-spacing-size-4!important }
  .u-px4 { padding-left:@ult-spacing-size-4!important; padding-right:@ult-spacing-size-4!important }
  .u-py4 { padding-top:@ult-spacing-size-4!important; padding-bottom:@ult-spacing-size-4!important;  }
}

.ult-padding-5() when (@include_ult-spacing-size-5 = true) {
  .u-p5 { padding:@ult-spacing-size-5!important; }
  .u-pt5 { padding-top:@ult-spacing-size-5!important }
  .u-pr5 { padding-right:@ult-spacing-size-5!important }
  .u-pb5 { padding-bottom:@ult-spacing-size-5!important }
  .u-pl5 { padding-left:@ult-spacing-size-5!important }
  .u-px5 { padding-left:@ult-spacing-size-5!important; padding-right:@ult-spacing-size-5!important }
  .u-py5 { padding-top:@ult-spacing-size-5!important; padding-bottom:@ult-spacing-size-5!important;  }
}

.ult-padding-6() when (@include_ult-spacing-size-6 = true) {
  .u-p6 { padding:@ult-spacing-size-6!important; }
  .u-pt6 { padding-top:@ult-spacing-size-6!important }
  .u-pr6 { padding-right:@ult-spacing-size-6!important }
  .u-pb6 { padding-bottom:@ult-spacing-size-6!important }
  .u-pl6 { padding-left:@ult-spacing-size-6!important }
  .u-px6 { padding-left:@ult-spacing-size-6!important; padding-right:@ult-spacing-size-6!important }
  .u-py6 { padding-top:@ult-spacing-size-6!important; padding-bottom:@ult-spacing-size-6!important;  }
}

.ult-padding-7() when (@include_ult-spacing-size-7 = true) {
  .u-p7 { padding:@ult-spacing-size-7!important; }
  .u-pt7 { padding-top:@ult-spacing-size-7!important }
  .u-pr7 { padding-right:@ult-spacing-size-7!important }
  .u-pb7 { padding-bottom:@ult-spacing-size-7!important }
  .u-pl7 { padding-left:@ult-spacing-size-7!important }
  .u-px7 { padding-left:@ult-spacing-size-7!important; padding-right:@ult-spacing-size-7!important }
  .u-py7 { padding-top:@ult-spacing-size-7!important; padding-bottom:@ult-spacing-size-7!important;  }
}

.ult-padding-8() when (@include_ult-spacing-size-8 = true) {
  .u-p8 { padding:@ult-spacing-size-8!important; }
  .u-pt8 { padding-top:@ult-spacing-size-8!important }
  .u-pr8 { padding-right:@ult-spacing-size-8!important }
  .u-pb8 { padding-bottom:@ult-spacing-size-8!important }
  .u-pl8 { padding-left:@ult-spacing-size-8!important }
  .u-px8 { padding-left:@ult-spacing-size-8!important; padding-right:@ult-spacing-size-8!important }
  .u-py8 { padding-top:@ult-spacing-size-8!important; padding-bottom:@ult-spacing-size-8!important;  }
}

.ult-padding-0();
.ult-padding-1();
.ult-padding-2();
.ult-padding-3();
.ult-padding-4();
.ult-padding-5();
.ult-padding-6();
.ult-padding-7();
.ult-padding-8();

//-------------------
//   Small screen
//--------------------   

@media (max-width:@largestMobileScreen) {

  .ult-padding-0() {
    .u-p0-sm { padding:0!important }
    .u-pt0-sm { padding-top:0!important }
    .u-pr0-sm { padding-right:0!important }
    .u-pb0-sm { padding-bottom:0!important }
    .u-pl0-sm { padding-left:0!important }
    .u-px0-sm { padding-left:0!important; padding-right:0!important }
    .u-py0-sm { padding-top:0!important; padding-bottom:0!important }
  }
  
  .ult-padding-1() when (@include_ult-spacing-size-1 = true) {
    .u-p1-sm { padding:@ult-spacing-size-1!important; }
    .u-pt1-sm { padding-top:@ult-spacing-size-1!important }
    .u-pr1-sm { padding-right:@ult-spacing-size-1!important }
    .u-pb1-sm { padding-bottom:@ult-spacing-size-1!important }
    .u-pl1-sm { padding-left:@ult-spacing-size-1!important }
    .u-px1-sm { padding-left:@ult-spacing-size-1!important; padding-right:@ult-spacing-size-1!important }
    .u-py1-sm { padding-top:@ult-spacing-size-1!important; padding-bottom:@ult-spacing-size-1!important;  }
  }
  
  .ult-padding-2() when (@include_ult-spacing-size-2 = true) {
    .u-p2-sm { padding:@ult-spacing-size-2!important; }
    .u-pt2-sm { padding-top:@ult-spacing-size-2!important }
    .u-pr2-sm { padding-right:@ult-spacing-size-2!important }
    .u-pb2-sm { padding-bottom:@ult-spacing-size-2!important }
    .u-pl2-sm { padding-left:@ult-spacing-size-2!important }
    .u-px2-sm { padding-left:@ult-spacing-size-2!important; padding-right:@ult-spacing-size-2!important }
    .u-py2-sm { padding-top:@ult-spacing-size-2!important; padding-bottom:@ult-spacing-size-2!important;  }
  }

  .ult-padding-3() when (@include_ult-spacing-size-3 = true) {
    .u-p3-sm { padding:@ult-spacing-size-3!important; }
    .u-pt3-sm { padding-top:@ult-spacing-size-3!important }
    .u-pr3-sm { padding-right:@ult-spacing-size-3!important }
    .u-pb3-sm { padding-bottom:@ult-spacing-size-3!important }
    .u-pl3-sm { padding-left:@ult-spacing-size-3!important }
    .u-px3-sm { padding-left:@ult-spacing-size-3!important; padding-right:@ult-spacing-size-3!important }
    .u-py3-sm { padding-top:@ult-spacing-size-3!important; padding-bottom:@ult-spacing-size-3!important;  }
  }

  .ult-padding-4() when (@include_ult-spacing-size-4 = true) {
    .u-p4-sm { padding:@ult-spacing-size-4!important; }
    .u-pt4-sm { padding-top:@ult-spacing-size-4!important }
    .u-pr4-sm { padding-right:@ult-spacing-size-4!important }
    .u-pb4-sm { padding-bottom:@ult-spacing-size-4!important }
    .u-pl4-sm { padding-left:@ult-spacing-size-4!important }
    .u-px4-sm { padding-left:@ult-spacing-size-4!important; padding-right:@ult-spacing-size-4!important }
    .u-py4-sm { padding-top:@ult-spacing-size-4!important; padding-bottom:@ult-spacing-size-4!important;  }
  }
  
  .ult-padding-5() when (@include_ult-spacing-size-5 = true) {
    .u-p5-sm { padding:@ult-spacing-size-5!important; }
    .u-pt5-sm { padding-top:@ult-spacing-size-5!important }
    .u-pr5-sm { padding-right:@ult-spacing-size-5!important }
    .u-pb5-sm { padding-bottom:@ult-spacing-size-5!important }
    .u-pl5-sm { padding-left:@ult-spacing-size-5!important }
    .u-px5-sm { padding-left:@ult-spacing-size-5!important; padding-right:@ult-spacing-size-5!important }
    .u-py5-sm { padding-top:@ult-spacing-size-5!important; padding-bottom:@ult-spacing-size-5!important;  }
  }
  
  .ult-padding-6() when (@include_ult-spacing-size-6 = true) {
    .u-p6-sm { padding:@ult-spacing-size-6!important; }
    .u-pt6-sm { padding-top:@ult-spacing-size-6!important }
    .u-pr6-sm { padding-right:@ult-spacing-size-6!important }
    .u-pb6-sm { padding-bottom:@ult-spacing-size-6!important }
    .u-pl6-sm { padding-left:@ult-spacing-size-6!important }
    .u-px6-sm { padding-left:@ult-spacing-size-6!important; padding-right:@ult-spacing-size-6!important }
    .u-py6-sm { padding-top:@ult-spacing-size-6!important; padding-bottom:@ult-spacing-size-6!important;  }
  }

  .ult-padding-7() when (@include_ult-spacing-size-7 = true) {  
    .u-p7-sm { padding:@ult-spacing-size-7!important; }
    .u-pt7-sm { padding-top:@ult-spacing-size-7!important }
    .u-pr7-sm { padding-right:@ult-spacing-size-7!important }
    .u-pb7-sm { padding-bottom:@ult-spacing-size-7!important }
    .u-pl7-sm { padding-left:@ult-spacing-size-7!important }
    .u-px7-sm { padding-left:@ult-spacing-size-7!important; padding-right:@ult-spacing-size-7!important }
    .u-py7-sm { padding-top:@ult-spacing-size-7!important; padding-bottom:@ult-spacing-size-7!important;  }
  }
  
  .ult-padding-8() when (@include_ult-spacing-size-8 = true) {
    .u-p8-sm { padding:@ult-spacing-size-8!important; }
    .u-pt8-sm { padding-top:@ult-spacing-size-8!important }
    .u-pr8-sm { padding-right:@ult-spacing-size-8!important }
    .u-pb8-sm { padding-bottom:@ult-spacing-size-8!important }
    .u-pl8-sm { padding-left:@ult-spacing-size-8!important }
    .u-px8-sm { padding-left:@ult-spacing-size-8!important; padding-right:@ult-spacing-size-8!important }
    .u-py8-sm { padding-top:@ult-spacing-size-8!important; padding-bottom:@ult-spacing-size-8!important;  }
  }

  .ult-padding-0();
  .ult-padding-1();
  .ult-padding-2();
  .ult-padding-3();
  .ult-padding-4();
  .ult-padding-5();
  .ult-padding-6();
  .ult-padding-7();
  .ult-padding-8();

}

//-------------------
//   Medium screen
//--------------------   

@media (min-width:@tabletBreakpoint) and (max-width:@largestTabletScreen) {

  .ult-padding-0() {
    .u-p0-md { padding:0!important }
    .u-pt0-md { padding-top:0!important }
    .u-pr0-md { padding-right:0!important }
    .u-pb0-md { padding-bottom:0!important }
    .u-pl0-md { padding-left:0!important }
    .u-px0-md { padding-left:0!important; padding-right:0!important }
    .u-py0-md { padding-top:0!important; padding-bottom:0!important }
  }
  
  .ult-padding-1() when (@include_ult-spacing-size-1 = true) {
    .u-p1-md { padding:@ult-spacing-size-1!important; }
    .u-pt1-md { padding-top:@ult-spacing-size-1!important }
    .u-pr1-md { padding-right:@ult-spacing-size-1!important }
    .u-pb1-md { padding-bottom:@ult-spacing-size-1!important }
    .u-pl1-md { padding-left:@ult-spacing-size-1!important }
    .u-px1-md { padding-left:@ult-spacing-size-1!important; padding-right:@ult-spacing-size-1!important }
    .u-py1-md { padding-top:@ult-spacing-size-1!important; padding-bottom:@ult-spacing-size-1!important;  }
  }
  
  .ult-padding-2() when (@include_ult-spacing-size-2 = true) {
    .u-p2-md { padding:@ult-spacing-size-2!important; }
    .u-pt2-md { padding-top:@ult-spacing-size-2!important }
    .u-pr2-md { padding-right:@ult-spacing-size-2!important }
    .u-pb2-md { padding-bottom:@ult-spacing-size-2!important }
    .u-pl2-md { padding-left:@ult-spacing-size-2!important }
    .u-px2-md { padding-left:@ult-spacing-size-2!important; padding-right:@ult-spacing-size-2!important }
    .u-py2-md { padding-top:@ult-spacing-size-2!important; padding-bottom:@ult-spacing-size-2!important;  }
  }
  
  .ult-padding-3() when (@include_ult-spacing-size-3 = true) {
    .u-p3-md { padding:@ult-spacing-size-3!important; }
    .u-pt3-md { padding-top:@ult-spacing-size-3!important }
    .u-pr3-md { padding-right:@ult-spacing-size-3!important }
    .u-pb3-md { padding-bottom:@ult-spacing-size-3!important }
    .u-pl3-md { padding-left:@ult-spacing-size-3!important }
    .u-px3-md { padding-left:@ult-spacing-size-3!important; padding-right:@ult-spacing-size-3!important }
    .u-py3-md { padding-top:@ult-spacing-size-3!important; padding-bottom:@ult-spacing-size-3!important;  }
  }
  
  .ult-padding-4() when (@include_ult-spacing-size-4 = true) {
    .u-p4-md { padding:@ult-spacing-size-4!important; }
    .u-pt4-md { padding-top:@ult-spacing-size-4!important }
    .u-pr4-md { padding-right:@ult-spacing-size-4!important }
    .u-pb4-md { padding-bottom:@ult-spacing-size-4!important }
    .u-pl4-md { padding-left:@ult-spacing-size-4!important }
    .u-px4-md { padding-left:@ult-spacing-size-4!important; padding-right:@ult-spacing-size-4!important }
    .u-py4-md { padding-top:@ult-spacing-size-4!important; padding-bottom:@ult-spacing-size-4!important;  }
  }
  
  .ult-padding-5() when (@include_ult-spacing-size-5 = true) {
    .u-p5-md { padding:@ult-spacing-size-5!important; }
    .u-pt5-md { padding-top:@ult-spacing-size-5!important }
    .u-pr5-md { padding-right:@ult-spacing-size-5!important }
    .u-pb5-md { padding-bottom:@ult-spacing-size-5!important }
    .u-pl5-md { padding-left:@ult-spacing-size-5!important }
    .u-px5-md { padding-left:@ult-spacing-size-5!important; padding-right:@ult-spacing-size-5!important }
    .u-py5-md { padding-top:@ult-spacing-size-5!important; padding-bottom:@ult-spacing-size-5!important;  }
  }
  
  .ult-padding-6() when (@include_ult-spacing-size-6 = true) {
    .u-p6-md { padding:@ult-spacing-size-6!important; }
    .u-pt6-md { padding-top:@ult-spacing-size-6!important }
    .u-pr6-md { padding-right:@ult-spacing-size-6!important }
    .u-pb6-md { padding-bottom:@ult-spacing-size-6!important }
    .u-pl6-md { padding-left:@ult-spacing-size-6!important }
    .u-px6-md { padding-left:@ult-spacing-size-6!important; padding-right:@ult-spacing-size-6!important }
    .u-py6-md { padding-top:@ult-spacing-size-6!important; padding-bottom:@ult-spacing-size-6!important;  }
  }
  
  .ult-padding-7() when (@include_ult-spacing-size-7 = true) {
    .u-p7-md { padding:@ult-spacing-size-7!important; }
    .u-pt7-md { padding-top:@ult-spacing-size-7!important }
    .u-pr7-md { padding-right:@ult-spacing-size-7!important }
    .u-pb7-md { padding-bottom:@ult-spacing-size-7!important }
    .u-pl7-md { padding-left:@ult-spacing-size-7!important }
    .u-px7-md { padding-left:@ult-spacing-size-7!important; padding-right:@ult-spacing-size-7!important }
    .u-py7-md { padding-top:@ult-spacing-size-7!important; padding-bottom:@ult-spacing-size-7!important;  }
  }
  
  .ult-padding-8() when (@include_ult-spacing-size-8 = true) {
    .u-p8-md { padding:@ult-spacing-size-8!important; }
    .u-pt8-md { padding-top:@ult-spacing-size-8!important }
    .u-pr8-md { padding-right:@ult-spacing-size-8!important }
    .u-pb8-md { padding-bottom:@ult-spacing-size-8!important }
    .u-pl8-md { padding-left:@ult-spacing-size-8!important }
    .u-px8-md { padding-left:@ult-spacing-size-8!important; padding-right:@ult-spacing-size-8!important }
    .u-py8-md { padding-top:@ult-spacing-size-8!important; padding-bottom:@ult-spacing-size-8!important;  }
  }

  .ult-padding-0();
  .ult-padding-1();
  .ult-padding-2();
  .ult-padding-3();
  .ult-padding-4();
  .ult-padding-5();
  .ult-padding-6();
  .ult-padding-7();
  .ult-padding-8();

}

