.u-p0 { padding:0!important }
.u-pt0 { padding-top:0!important }
.u-pr0 { padding-right:0!important }
.u-pb0 { padding-bottom:0!important }
.u-pl0 { padding-left:0!important }
.u-px0 { padding-left:0!important; padding-right:0!important }
.u-py0 { padding-top:0!important; padding-bottom:0!important }

.u-p-m { padding:@mini!important; }
.u-pt-m { padding-top:@mini!important }
.u-pr-m { padding-right:@mini!important }
.u-pb-m { padding-bottom:@mini!important }
.u-pl-m { padding-left:@mini!important }
.u-px-m { padding-left:@mini!important; padding-right:@mini!important }
.u-py-m { padding-top:@mini!important; padding-bottom:@mini!important;  }

.u-m-t { padding:@tiny!important; }
.u-pt-t { padding-top:@tiny!important }
.u-pr-t { padding-right:@tiny!important }
.u-pb-t { padding-bottom:@tiny!important }
.u-pl-t { padding-left:@tiny!important }
.u-px-t { padding-left:@tiny!important; padding-right:@tiny!important }
.u-py-t { padding-top:@tiny!important; padding-bottom:@tiny!important;  }

.u-m-sm { padding:@small!important; }
.u-pt-sm { padding-top:@small!important }
.u-pr-sm { padding-right:@small!important }
.u-pb-sm { padding-bottom:@small!important }
.u-pl-sm { padding-left:@small!important }
.u-px-sm { padding-left:@small!important; padding-right:@small!important }
.u-py-sm { padding-top:@small!important; padding-bottom:@small!important;  }

.u-m-md { padding:@medium!important; }
.u-pt-md { padding-top:@medium!important }
.u-pr-md { padding-right:@medium!important }
.u-pb-md { padding-bottom:@medium!important }
.u-pl-md { padding-left:@medium!important }
.u-px-md { padding-left:@medium!important; padding-right:@medium!important }
.u-py-md { padding-top:@medium!important; padding-bottom:@medium!important;  }

.u-m-lg { padding:@large!important; }
.u-pt-lg { padding-top:@large!important }
.u-pr-lg { padding-right:@large!important }
.u-pb-lg { padding-bottom:@large!important }
.u-pl-lg { padding-left:@large!important }
.u-px-lg { padding-left:@large!important; padding-right:@large!important }
.u-py-lg { padding-top:@large!important; padding-bottom:@large!important;  }

.u-m-big { padding:@big!important; }
.u-pt-big { padding-top:@big!important }
.u-pr-big { padding-right:@big!important }
.u-pb-big { padding-bottom:@big!important }
.u-pl-big { padding-left:@big!important }
.u-px-big { padding-left:@big!important; padding-right:@big!important }
.u-py-big { padding-top:@big!important; padding-bottom:@big!important;  }

.u-m-hg { padding:@huge!important; }
.u-pt-hg { padding-top:@huge!important }
.u-pr-hg { padding-right:@huge!important }
.u-pb-hg { padding-bottom:@huge!important }
.u-pl-hg { padding-left:@huge!important }
.u-px-hg { padding-left:@huge!important; padding-right:@huge!important }
.u-py-hg { padding-top:@huge!important; padding-bottom:@huge!important;  }

.u-m-msv { padding:@massive!important; }
.u-pt-msv { padding-top:@massive!important }
.u-pr-msv { padding-right:@massive!important }
.u-pb-msv { padding-bottom:@massive!important }
.u-pl-msv { padding-left:@massive!important }
.u-px-msv { padding-left:@massive!important; padding-right:@massive!important }
.u-py-msv { padding-top:@massive!important; padding-bottom:@massive!important;  }



@media (max-width:@largestMobileScreen) {

  .u-p0-sm { padding:0!important }
  .u-pt0-sm { padding-top:0!important }
  .u-pr0-sm { padding-right:0!important }
  .u-pb0-sm { padding-bottom:0!important }
  .u-pl0-sm { padding-left:0!important }
  .u-px0-sm { padding-left:0!important; padding-right:0!important }
  .u-py0-sm { padding-top:0!important; padding-bottom:0!important }
  
  .u-p-m-sm { padding:@mini!important; }
  .u-pt-m-sm { padding-top:@mini!important }
  .u-pr-m-sm { padding-right:@mini!important }
  .u-pb-m-sm { padding-bottom:@mini!important }
  .u-pl-m-sm { padding-left:@mini!important }
  .u-px-m-sm { padding-left:@mini!important; padding-right:@mini!important }
  .u-py-m-sm { padding-top:@mini!important; padding-bottom:@mini!important;  }
  
  .u-m-t-sm { padding:@tiny!important; }
  .u-pt-t-sm { padding-top:@tiny!important }
  .u-pr-t-sm { padding-right:@tiny!important }
  .u-pb-t-sm { padding-bottom:@tiny!important }
  .u-pl-t-sm { padding-left:@tiny!important }
  .u-px-t-sm { padding-left:@tiny!important; padding-right:@tiny!important }
  .u-py-t-sm { padding-top:@tiny!important; padding-bottom:@tiny!important;  }
  
  .u-m-sm-sm { padding:@small!important; }
  .u-pt-sm-sm { padding-top:@small!important }
  .u-pr-sm-sm { padding-right:@small!important }
  .u-pb-sm-sm { padding-bottom:@small!important }
  .u-pl-sm-sm { padding-left:@small!important }
  .u-px-sm-sm { padding-left:@small!important; padding-right:@small!important }
  .u-py-sm-sm { padding-top:@small!important; padding-bottom:@small!important;  }
  
  .u-m-md-sm { padding:@medium!important; }
  .u-pt-md-sm { padding-top:@medium!important }
  .u-pr-md-sm { padding-right:@medium!important }
  .u-pb-md-sm { padding-bottom:@medium!important }
  .u-pl-md-sm { padding-left:@medium!important }
  .u-px-md-sm { padding-left:@medium!important; padding-right:@medium!important }
  .u-py-md-sm { padding-top:@medium!important; padding-bottom:@medium!important;  }
  
  .u-m-lg-sm { padding:@large!important; }
  .u-pt-lg-sm { padding-top:@large!important }
  .u-pr-lg-sm { padding-right:@large!important }
  .u-pb-lg-sm { padding-bottom:@large!important }
  .u-pl-lg-sm { padding-left:@large!important }
  .u-px-lg-sm { padding-left:@large!important; padding-right:@large!important }
  .u-py-lg-sm { padding-top:@large!important; padding-bottom:@large!important;  }
  
  .u-m-big-sm { padding:@big!important; }
  .u-pt-big-sm { padding-top:@big!important }
  .u-pr-big-sm { padding-right:@big!important }
  .u-pb-big-sm { padding-bottom:@big!important }
  .u-pl-big-sm { padding-left:@big!important }
  .u-px-big-sm { padding-left:@big!important; padding-right:@big!important }
  .u-py-big-sm { padding-top:@big!important; padding-bottom:@big!important;  }
  
  .u-m-hg-sm { padding:@huge!important; }
  .u-pt-hg-sm { padding-top:@huge!important }
  .u-pr-hg-sm { padding-right:@huge!important }
  .u-pb-hg-sm { padding-bottom:@huge!important }
  .u-pl-hg-sm { padding-left:@huge!important }
  .u-px-hg-sm { padding-left:@huge!important; padding-right:@huge!important }
  .u-py-hg-sm { padding-top:@huge!important; padding-bottom:@huge!important;  }
  
  .u-m-msv-sm { padding:@massive!important; }
  .u-pt-msv-sm { padding-top:@massive!important }
  .u-pr-msv-sm { padding-right:@massive!important }
  .u-pb-msv-sm { padding-bottom:@massive!important }
  .u-pl-msv-sm { padding-left:@massive!important }
  .u-px-msv-sm { padding-left:@massive!important; padding-right:@massive!important }
  .u-py-msv-sm { padding-top:@massive!important; padding-bottom:@massive!important;  }

}

@media (min-width:@tabletBreakpoint) and (max-width:@largestTabletScreen) {

  .u-p0-md { padding:0!important }
  .u-pt0-md { padding-top:0!important }
  .u-pr0-md { padding-right:0!important }
  .u-pb0-md { padding-bottom:0!important }
  .u-pl0-md { padding-left:0!important }
  .u-px0-md { padding-left:0!important; padding-right:0!important }
  .u-py0-md { padding-top:0!important; padding-bottom:0!important }
  
  .u-p-m-md { padding:@mini!important; }
  .u-pt-m-md { padding-top:@mini!important }
  .u-pr-m-md { padding-right:@mini!important }
  .u-pb-m-md { padding-bottom:@mini!important }
  .u-pl-m-md { padding-left:@mini!important }
  .u-px-m-md { padding-left:@mini!important; padding-right:@mini!important }
  .u-py-m-md { padding-top:@mini!important; padding-bottom:@mini!important;  }
  
  .u-m-t-md { padding:@tiny!important; }
  .u-pt-t-md { padding-top:@tiny!important }
  .u-pr-t-md { padding-right:@tiny!important }
  .u-pb-t-md { padding-bottom:@tiny!important }
  .u-pl-t-md { padding-left:@tiny!important }
  .u-px-t-md { padding-left:@tiny!important; padding-right:@tiny!important }
  .u-py-t-md { padding-top:@tiny!important; padding-bottom:@tiny!important;  }
  
  .u-m-sm-md { padding:@small!important; }
  .u-pt-sm-md { padding-top:@small!important }
  .u-pr-sm-md { padding-right:@small!important }
  .u-pb-sm-md { padding-bottom:@small!important }
  .u-pl-sm-md { padding-left:@small!important }
  .u-px-sm-md { padding-left:@small!important; padding-right:@small!important }
  .u-py-sm-md { padding-top:@small!important; padding-bottom:@small!important;  }
  
  .u-m-md-md { padding:@medium!important; }
  .u-pt-md-md { padding-top:@medium!important }
  .u-pr-md-md { padding-right:@medium!important }
  .u-pb-md-md { padding-bottom:@medium!important }
  .u-pl-md-md { padding-left:@medium!important }
  .u-px-md-md { padding-left:@medium!important; padding-right:@medium!important }
  .u-py-md-md { padding-top:@medium!important; padding-bottom:@medium!important;  }
  
  .u-m-lg-md { padding:@large!important; }
  .u-pt-lg-md { padding-top:@large!important }
  .u-pr-lg-md { padding-right:@large!important }
  .u-pb-lg-md { padding-bottom:@large!important }
  .u-pl-lg-md { padding-left:@large!important }
  .u-px-lg-md { padding-left:@large!important; padding-right:@large!important }
  .u-py-lg-md { padding-top:@large!important; padding-bottom:@large!important;  }
  
  .u-m-big-md { padding:@big!important; }
  .u-pt-big-md { padding-top:@big!important }
  .u-pr-big-md { padding-right:@big!important }
  .u-pb-big-md { padding-bottom:@big!important }
  .u-pl-big-md { padding-left:@big!important }
  .u-px-big-md { padding-left:@big!important; padding-right:@big!important }
  .u-py-big-md { padding-top:@big!important; padding-bottom:@big!important;  }
  
  .u-m-hg-md { padding:@huge!important; }
  .u-pt-hg-md { padding-top:@huge!important }
  .u-pr-hg-md { padding-right:@huge!important }
  .u-pb-hg-md { padding-bottom:@huge!important }
  .u-pl-hg-md { padding-left:@huge!important }
  .u-px-hg-md { padding-left:@huge!important; padding-right:@huge!important }
  .u-py-hg-md { padding-top:@huge!important; padding-bottom:@huge!important;  }
  
  .u-m-msv-md { padding:@massive!important; }
  .u-pt-msv-md { padding-top:@massive!important }
  .u-pr-msv-md { padding-right:@massive!important }
  .u-pb-msv-md { padding-bottom:@massive!important }
  .u-pl-msv-md { padding-left:@massive!important }
  .u-px-msv-md { padding-left:@massive!important; padding-right:@massive!important }
  .u-py-msv-md { padding-top:@massive!important; padding-bottom:@massive!important;  }

}
