
.u-font-family-inherit { font-family:inherit!important }
.u-font-family-primary { font-family:@primaryFontRegularStack!important }
.u-font-family-primary-light { font-family:@primaryFontLightStack!important }
.u-font-family-secondary { font-family:@secondaryFontStack!important }
.u-font-family-monospace { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;}

.u-font-size-inherit { font-size:inherit!important }
.u-font-size-mini { font-size:@mini!important; }
.u-font-size-tiny { font-size:@tiny!important; }
.u-font-size-sm { font-size:@small!important; }
.u-font-size-root { font-size:@fontSize!important; }
.u-font-size-md { font-size:@medium!important; }
.u-font-size-lg { font-size:@large!important; }
.u-font-size-big { font-size:@big!important; }
.u-font-size-huge { font-size:@huge!important; }
.u-font-size-massive { font-size:@massive!important; }

.u-font-size-relative-mini { font-size:@relativeMini!important; }
.u-font-size-relative-tiny { font-size:@relativeTiny!important; }
.u-font-size-relative-sm { font-size:@relativeSmall!important; }
.u-font-size-relative-md { font-size:@relativeMedium!important; }
.u-font-size-relative-lg { font-size:@relativeLarge!important; }
.u-font-size-relative-big { font-size:@relativeBig!important; }
.u-font-size-relative-huge { font-size:@relativeHuge!important; }
.u-font-size-relative-massive { font-size:@relativeMassive!important; }


.u-text-decoration-none { text-decoration:none!important }
.u-letter-spacing-normal { letter-spacing: normal!important; }
.u-letter-spacing-1 { letter-spacing: @1px!important; }
.u-letter-spacing-2 { letter-spacing: @2px!important; }
.u-letter-spacing-3 { letter-spacing: @3px!important; }
.u-letter-spacing-4 { letter-spacing: @4px!important; }

.u-bold { font-weight: bold!important; }
.u-regular { font-weight:normal!important }
.u-lighter { font-weight:lighter!important }
.u-italic { font-style:italic!important }
.u-caps { text-transform:uppercase!important; }
.u-no-caps { text-transform: none!important }
.u-lowercase { text-transform: lowercase!important; }

.u-left-align { text-align:left!important }
.u-center { text-align:center!important }
.u-right-align { text-align:right!important }
.u-justify { text-align:justify!important }

.u-body-text {
  font-family: @bodyFont!important;
  font-size:  @paragraphFontSize!important;
  text-transform: none!important;
  letter-spacing: @paragraphSpacing!important;
}

.u-nowrap { white-space:nowrap!important }
.u-normal-wrap { white-space:normal!important }
.u-break-word { word-wrap:break-word!important }

.u-line-height-0 { line-height: 0!important }
.u-line-height-1 { line-height: 1!important }
.u-line-height-2 { line-height: 1.125!important }
.u-line-height-3 { line-height: 1.25!important }
.u-line-height-4 { line-height: 1.5!important }
.u-line-height-5 { line-height: 1.75!important }
.u-line-height-6 { line-height: 2!important }

.u-underline { text-decoration:underline!important }

.u-truncate {
  max-width:100%!important;
  overflow:hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
}

@media (max-width:@largestMobileScreen) {

  .u-left-align-sm { text-align:left!important }
  .u-center-sm { text-align:center!important }
  .u-right-align-sm { text-align:right!important }
  .u-justify-sm { text-align:justify!important }

  .u-font-size-inherit-sm { font-size:inherit!important }
  .u-font-size-mini-sm { font-size:@mini!important; }
  .u-font-size-tiny-sm { font-size:@tiny!important; }
  .u-font-size-sm-sm { font-size:@small!important; }
  .u-font-size-root-sm { font-size:@fontSize!important; }
  .u-font-size-md-sm { font-size:@medium!important; }
  .u-font-size-lg-sm { font-size:@large!important; }
  .u-font-size-big-sm { font-size:@big!important; }
  .u-font-size-huge-sm { font-size:@huge!important; }
  .u-font-size-massive-sm { font-size:@massive!important; }

}
