// .o-h1 { font-size: @h1; }
// .o-h2 { font-size: @h2; }
// .o-h3 { font-size: @h3; }
// .o-h4 { font-size: @h4; }
// .o-h5 { font-size: @h5; }
// .o-h6 { font-size: @h6; }

// /***** Ultility classes *****/

// // Typography

// .u-h1 { font-size: @h1!important; }
// .u-h2 { font-size: @h2!important; }
// .u-h3 { font-size: @h3!important; }
// .u-h4 { font-size: @h4!important; }
// .u-h5 { font-size: @h5!important; }
// .u-h6 { font-size: @h6!important; }

// .u-font-family-inherit { font-family:inherit!important }
// .u-font-family-primary { font-family:@primaryFont!important }
// .u-font-family-primary-light { font-family:@primaryFontLight!important }
// .u-font-family-secondary { font-family:@secondaryFont!important }
// .u-font-family-monospace { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;}

.u-font-size-inherit { font-size:inherit!important }
.u-font-size-mini { .size(font-size, mini, mini)!important; }
.u-font-size-tiny { .size(font-size, tiny, tiny)!important; }
.u-font-size-sm { .size(font-size, small, small)!important; }
.u-font-size-body { .size(font-size, fontSize, fontSize)!important; }
.u-font-size-md { .size(font-size, medium, medium)!important; }
.u-font-size-lg { .size(font-size, large, large)!important; }
.u-font-size-big { .size(font-size, big, big)!important; }
.u-font-size-huge { .size(font-size, huge, huge)!important; }
.u-font-size-massive { .size(font-size, massive, massive)!important; }

.u-font-size-relative-mini { .size(font-size, relativeMini, relativeMini)!important; }
.u-font-size-relative-tiny { .size(font-size, relativeTiny, relativeTiny)!important; }
.u-font-size-relative-sm { .size(font-size, relativeSmall, relativeSmall)!important; }
.u-font-size-relative-body { .size(font-size, fontSizeRelative, fontSizeRelative)!important; }
.u-font-size-relative-md { .size(font-size, relativeMedium, relativeMedium)!important; }
.u-font-size-relative-lg { .size(font-size, relativeLarge, relativeLarge)!important; }
.u-font-size-relative-big { .size(font-size, relativeBig, relativeBig)!important; }
.u-font-size-relative-huge { .size(font-size, relativeHuge, relativeHuge)!important; }
.u-font-size-relative-massive { .size(font-size, relativeMassive, relativeMassive)!important; }



// .u-text-decoration-none { text-decoration:none!important }
// .u-letter-spacing-normal { letter-spacing: normal!important; }
// .u-letter-spacing-1 { letter-spacing: @1px!important; }
// .u-letter-spacing-2 { letter-spacing: @2px!important; }
// .u-letter-spacing-3 { letter-spacing: @3px!important; }
// .u-letter-spacing-4 { letter-spacing: @4px!important; }

// .u-bold { font-weight: bold!important; }
// .u-regular { font-weight:normal!important }
// .u-lighter { font-weight:lighter!important }
// .u-italic { font-style:italic!important }
// .u-caps { text-transform:uppercase!important; letter-spacing: .2em!important; }
// .u-no-caps { text-transform: none!important }
// .u-lowercase { text-transform: lowercase!important; }

// .u-left-align { text-align:left!important }
// .u-center { text-align:center!important }
// .u-right-align { text-align:right!important }
// .u-justify { text-align:justify!important }

// .u-body-text {
//   font-family: @pageFont!important;
//   font-size:  @fontSizeRem!important;
//   text-transform: none!important;
//   letter-spacing: @1px!important;
// }
// .u-body-text-sm {
//   font-size:@small!important;
//   font-family: @pageFont!important;
//   text-transform: none!important;
//   letter-spacing: @1px!important;
// }

// .u-nowrap { white-space:nowrap!important }
// .u-normal-wrap { white-space:normal!important }
// .u-break-word { word-wrap:break-word!important }

// .u-line-height-0 { line-height: 0!important }
// .u-line-height-1 { line-height: 1!important }
// .u-line-height-2 { line-height: 1.125!important }
// .u-line-height-3 { line-height: 1.25!important }
// .u-line-height-4 { line-height: 1.5!important }
// .u-line-height-5 { line-height: 1.75!important }
// .u-line-height-6 { line-height: 2!important }

// .u-underline { text-decoration:underline!important }

// .u-truncate {
//   max-width:100%!important;
//   overflow:hidden!important;
//   text-overflow:ellipsis!important;
//   white-space:nowrap!important;
// }

// @media (max-width:@largestMobileScreen) {

//   .u-left-align-sm { text-align:left!important }
//   .u-center-sm { text-align:center!important }
//   .u-right-align-sm { text-align:right!important }
//   .u-justify-sm { text-align:justify!important }

//   .u-font-size-inherit-sm { font-size:inherit!important }
//   .u-font-size-mini-sm { font-size:@mini!important; }
//   .u-font-size-tiny-sm { font-size:@tiny!important; }
//   .u-font-size-sm-sm { font-size:@small!important; }
//   .u-font-size-md-sm { font-size:@medium!important; }
//   .u-font-size-lg-sm { font-size:@large!important; }
//   .u-font-size-big-sm { font-size:@big!important; }
//   .u-font-size-huge-sm { font-size:@huge!important; }
//   .u-font-size-massive-sm { font-size:@massive!important; }

// }
