


//*******************************
//    Ruleset calls
//*******************************

//-------------------
//  CORE divider rules
//--------------------

#objects {
  .divider() {    
    // Initial rules
    @element: { 
      #objects.divider(element-ruleset);
    };
    @spacing: {
      #objects.divider(spacing-ruleset);
    };
    @spacing-tabletBreakpoint: {
      #objects.divider(spacing-tabletBreakpoint-ruleset);
    };    
    // Offset spacing rules
    @offset: { 
      #objects.divider(offset-ruleset);
    };   
    // Offset spacing rules - tablet Breakpoint
    @offset-tabletBreakpoint: { 
      #objects.divider(offset-tabletBreakpoint-ruleset);
    };   
    // Section diviver rules          
    @section: {
      #objects.divider(section-ruleset);
    };
  }
}


//-------------------
//  EXTEND(ED) core ruleset
//--------------------

#objects {
  .divider(element) { 
    .output-rules(element; divider);  
  }  
  .divider(spacing) { 
    .output-rules(spacing; divider);  
  } 
  .divider(spacing-tabletBreakpoint) { 
    .output-rules(spacing-tabletBreakpoint; divider);  
  }          
}

#objects {
  .divider(@ruleset) {
    #objects.divider();
    #objects.divider-variables();
    @rules: @@ruleset;
    @rules();
  }
  .divider-variables(@ruleset) {
    #objects.divider-variables();
    @rules: @@ruleset;
    @rules();
  }  
}
