//-------------------
//   MODULE INCLUDES 
//   Include modules on an individual basis 
//--------------------

// Objects
@include_header             : true;
@include_button             : true;
@include_item               : true;
@include_container          : true;
@include_icon               : true;
@include_masthead           : true;
@include_section            : true;
// Item object extras 
@include_item-imageSwap     : true;
@include_item-contentSwap   : true;
@include_item-headerSwap    : true;  
@include_item-slideshow     : true;
// Collections
@include_grid               : true;
@include_form               : true;
// Components
@include_menu               : true;
// Ultilities
@include_ult-border         : false;
@include_ult-color          : true;
@include_ult-flex           : true;
@include_ult-hide           : false;
@include_ult-layout         : true;
@include_ult-list           : false;
@include_ult-margin         : true;
@include_ult-padding        : true;
@include_ult-type           : false;
@include_ult-z-index        : false;