//-------------------
//   MODULE INCLUDES 
//   Include modules on an individual basis 
//--------------------

// Objects
@include_header             : true;
@include_button             : true;
@include_item               : true;
@include_container          : true;
@include_icon               : true;
@include_masthead           : true;
@include_section            : true;
@include_divider            : true;
// Item object extras 
@include_item-imageSwap     : true;
@include_item-contentSwap   : true;
@include_item-headerSwap    : true;  
@include_item-slideshow     : true;
// Collections
@include_grid-width         : true;
@include_grid-layout        : true;
@include_grid               : true;
@include_form               : true;
// Components
@include_carousel           : true;
@include_menu               : true;
// Ultilities
@include_ult-border         : true;
@include_ult-color          : true;
@include_ult-flex           : true;
@include_ult-hide           : true;
@include_ult-layout         : true;
@include_ult-list           : true;
@include_ult-margin         : true;
@include_ult-padding        : true;
@include_ult-type           : true;
@include_ult-z-index        : true;

// Used for ult margin / padding values
@ult-spacing-size-1         : 6*@rem; // updated
@include_ult-spacing-size-1 : true;

@ult-spacing-size-2         : @tiny; // updated
@include_ult-spacing-size-2 : true;

@ult-spacing-size-3         : @large; // updated
@include_ult-spacing-size-3 : true;

@ult-spacing-size-4         : @huge; // updated
@include_ult-spacing-size-4 : true;

@ult-spacing-size-5         : @massive; // updated
@include_ult-spacing-size-5 : true;

@ult-spacing-size-6         : @big;
@include_ult-spacing-size-6 : false; // updated

@ult-spacing-size-7         : @huge;
@include_ult-spacing-size-7 : false; // updated

@ult-spacing-size-8         : @massive;
@include_ult-spacing-size-8 : false; // updated